﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1262px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6282 {
  position:absolute;
  left:1012px;
  top:370px;
  width:250px;
  height:135px;
}
#u6283 {
  position:absolute;
  left:2px;
  top:60px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:1040px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.67843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6284 {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:1040px;
}
#u6285 {
  position:absolute;
  left:2px;
  top:512px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:540px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6286 {
  position:absolute;
  left:100px;
  top:120px;
  width:710px;
  height:540px;
}
#u6287 {
  position:absolute;
  left:2px;
  top:262px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6288 {
  position:absolute;
  left:790px;
  top:122px;
  width:20px;
  height:20px;
}
#u6289 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6290_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:93px;
}
#u6290 {
  position:absolute;
  left:799px;
  top:190px;
  width:3px;
  height:90px;
}
#u6291 {
  position:absolute;
  left:2px;
  top:37px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:589px;
}
#u6292 {
  position:absolute;
  left:12px;
  top:96px;
  width:938px;
  height:589px;
}
#u6293 {
  position:absolute;
  left:2px;
  top:286px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u6294 {
  position:absolute;
  left:1052px;
  top:405px;
  width:180px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u6295 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u6296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u6296 {
  position:absolute;
  left:1087px;
  top:445px;
  width:100px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u6296_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u6296.mouseOver {
}
#u6297 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6298 {
  position:absolute;
  left:874px;
  top:349px;
  width:0px;
  height:0px;
}
#u6298_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:230px;
  height:8px;
}
#u6298_seg1 {
  position:absolute;
  left:222px;
  top:-4px;
  width:8px;
  height:25px;
}
#u6298_seg2 {
  position:absolute;
  left:216px;
  top:7px;
  width:20px;
  height:21px;
}
#u6299 {
  position:absolute;
  left:74px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
