﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1502px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1036px;
  height:613px;
}
#u3914 {
  position:absolute;
  left:448px;
  top:108px;
  width:1036px;
  height:613px;
}
#u3915 {
  position:absolute;
  left:2px;
  top:298px;
  width:1032px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3916 {
  position:absolute;
  left:445px;
  top:211px;
  width:1033px;
  height:170px;
}
#u3917 {
  position:absolute;
  left:2px;
  top:77px;
  width:1029px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:1206px;
}
#u3918 {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:1206px;
}
#u3919 {
  position:absolute;
  left:2px;
  top:595px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#008000;
}
#u3920 {
  position:absolute;
  left:25px;
  top:21px;
  width:49px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#008000;
}
#u3921 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u3922 {
  position:absolute;
  left:423px;
  top:21px;
  width:49px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u3923 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:231px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3924 {
  position:absolute;
  left:16px;
  top:83px;
  width:377px;
  height:231px;
}
#u3925 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  word-wrap:break-word;
}
#u3926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:169px;
}
#u3927 {
  position:absolute;
  left:16px;
  top:340px;
  width:377px;
  height:169px;
}
#u3928 {
  position:absolute;
  left:2px;
  top:76px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:36px;
}
#u3929 {
  position:absolute;
  left:23px;
  top:369px;
  width:329px;
  height:36px;
  color:#FF0000;
}
#u3930 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u3931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:14px;
}
#u3931 {
  position:absolute;
  left:16px;
  top:409px;
  width:35px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u3932 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u3933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1057px;
  height:829px;
}
#u3933 {
  position:absolute;
  left:445px;
  top:268px;
  width:1057px;
  height:829px;
}
#u3934 {
  position:absolute;
  left:2px;
  top:406px;
  width:1053px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:18px;
}
#u3935 {
  position:absolute;
  left:461px;
  top:381px;
  width:107px;
  height:18px;
  color:#000000;
}
#u3936 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u3937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:36px;
}
#u3937 {
  position:absolute;
  left:451px;
  top:222px;
  width:458px;
  height:36px;
  font-size:14px;
  color:#000000;
}
#u3938 {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  word-wrap:break-word;
}
#u3939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3939 {
  position:absolute;
  left:451px;
  top:173px;
  width:178px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3940 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u3941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:51px;
}
#u3941 {
  position:absolute;
  left:439px;
  top:365px;
  width:86px;
  height:51px;
}
#u3942 {
  position:absolute;
  left:2px;
  top:18px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#008000;
}
#u3943 {
  position:absolute;
  left:439px;
  top:73px;
  width:151px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#008000;
}
#u3944 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u3945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:181px;
}
#u3945 {
  position:absolute;
  left:417px;
  top:1701px;
  width:1053px;
  height:181px;
}
#u3946 {
  position:absolute;
  left:2px;
  top:82px;
  width:1049px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1053px;
  height:298px;
}
#u3947 {
  position:absolute;
  left:417px;
  top:1943px;
  width:1053px;
  height:298px;
}
#u3948 {
  position:absolute;
  left:2px;
  top:141px;
  width:1049px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:2px;
}
#u3949 {
  position:absolute;
  left:427px;
  top:1942px;
  width:1020px;
  height:1px;
}
#u3950 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3951 {
  position:absolute;
  left:427px;
  top:1890px;
  width:98px;
  height:42px;
}
#u3952 {
  position:absolute;
  left:2px;
  top:13px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:5px;
}
#u3954 {
  position:absolute;
  left:501px;
  top:1912px;
  width:7px;
  height:5px;
}
#u3955 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:5px;
}
#u3956 {
  position:absolute;
  left:501px;
  top:1905px;
  width:7px;
  height:5px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.3;
}
#u3957 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u3958 {
  position:absolute;
  left:444px;
  top:1902px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3959 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:54px;
}
#u3960 {
  position:absolute;
  left:1227px;
  top:1880px;
  width:220px;
  height:54px;
}
#u3961 {
  position:absolute;
  left:2px;
  top:19px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3962 {
  position:absolute;
  left:998px;
  top:1805px;
  width:236px;
  height:54px;
}
#u3963 {
  position:absolute;
  left:2px;
  top:19px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3964 {
  position:absolute;
  left:385px;
  top:255px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
}
#u3964_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:8px;
  height:10px;
}
#u3964_seg1 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:35px;
  height:8px;
}
#u3964_seg2 {
  position:absolute;
  left:23px;
  top:-10px;
  width:8px;
  height:150px;
}
#u3964_seg3 {
  position:absolute;
  left:23px;
  top:132px;
  width:31px;
  height:8px;
}
#u3964_seg4 {
  position:absolute;
  left:40px;
  top:126px;
  width:21px;
  height:20px;
}
#u3965 {
  position:absolute;
  left:-23px;
  top:54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u3966 {
  position:absolute;
  left:664px;
  top:47px;
  width:361px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u3968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
}
#u3968 {
  position:absolute;
  left:1030px;
  top:47px;
  width:117px;
  height:25px;
}
#u3969 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
}
#u3970 {
  position:absolute;
  left:512px;
  top:169px;
  width:117px;
  height:25px;
}
#u3971 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:47px;
}
#u3972 {
  position:absolute;
  left:439px;
  top:211px;
  width:370px;
  height:47px;
}
#u3973 {
  position:absolute;
  left:2px;
  top:16px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
