﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1785px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:284px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36856 {
  position:absolute;
  left:533px;
  top:1038px;
  width:581px;
  height:284px;
  opacity:0.8;
}
#u36857 {
  position:absolute;
  left:2px;
  top:134px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:84px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36858 {
  position:absolute;
  left:479px;
  top:773px;
  width:1014px;
  height:84px;
}
#u36859 {
  position:absolute;
  left:2px;
  top:34px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:1509px;
  background:inherit;
  background-color:rgba(0, 128, 0, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36860 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:1509px;
}
#u36861 {
  position:absolute;
  left:2px;
  top:746px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36862 {
  position:absolute;
  left:533px;
  top:1768px;
  width:581px;
  height:440px;
  opacity:0.8;
}
#u36863 {
  position:absolute;
  left:2px;
  top:212px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36865 {
  position:absolute;
  left:483px;
  top:452px;
  width:129px;
  height:37px;
}
#u36866 {
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36867 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u36868 {
  position:absolute;
  left:496px;
  top:461px;
  width:12px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u36869 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u36870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u36870 {
  position:absolute;
  left:509px;
  top:465px;
  width:79px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u36871 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u36872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(239, 239, 239, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36872 {
  position:absolute;
  left:479px;
  top:612px;
  width:1014px;
  height:121px;
}
#u36873 {
  position:absolute;
  left:2px;
  top:52px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(239, 239, 239, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36874 {
  position:absolute;
  left:479px;
  top:687px;
  width:1014px;
  height:46px;
}
#u36875 {
  position:absolute;
  left:2px;
  top:15px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u36877 {
  position:absolute;
  left:714px;
  top:1954px;
  width:107px;
  height:32px;
}
#u36878 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u36879 {
  position:absolute;
  left:724px;
  top:1961px;
  width:85px;
  height:20px;
  font-size:14px;
  color:#FF6699;
}
#u36880 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u36881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u36881 {
  position:absolute;
  left:700px;
  top:1964px;
  width:20px;
  height:13px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u36882 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:78px;
}
#u36883 {
  position:absolute;
  left:24px;
  top:99px;
  width:405px;
  height:78px;
}
#u36884 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u36885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:793px;
}
#u36885 {
  position:absolute;
  left:24px;
  top:183px;
  width:425px;
  height:793px;
}
#u36886 {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  word-wrap:break-word;
}
#u36887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u36887 {
  position:absolute;
  left:24px;
  top:29px;
  width:145px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u36888 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u36889_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:150px;
  height:10px;
}
#u36889 {
  position:absolute;
  left:21px;
  top:80px;
  width:145px;
  height:5px;
  color:#008000;
}
#u36890 {
  position:absolute;
  left:2px;
  top:-6px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u36891 {
  position:absolute;
  left:473px;
  top:161px;
  width:218px;
  height:18px;
  color:#000000;
}
#u36892 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u36893_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1025px;
  height:9px;
}
#u36893 {
  position:absolute;
  left:473px;
  top:233px;
  width:1020px;
  height:4px;
}
#u36894 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u36895 {
  position:absolute;
  left:473px;
  top:203px;
  width:96px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u36896 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u36897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#008000;
}
#u36897 {
  position:absolute;
  left:473px;
  top:20px;
  width:145px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#008000;
}
#u36898 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u36899_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:150px;
  height:10px;
}
#u36899 {
  position:absolute;
  left:473px;
  top:71px;
  width:145px;
  height:5px;
  color:#FF0000;
}
#u36900 {
  position:absolute;
  left:2px;
  top:-6px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u36901 {
  position:absolute;
  left:483px;
  top:398px;
  width:39px;
  height:18px;
  font-size:13px;
}
#u36902 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u36903 {
  position:absolute;
  left:528px;
  top:392px;
  width:248px;
  height:30px;
}
#u36903_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u36904 {
  position:absolute;
  left:554px;
  top:264px;
  width:303px;
  height:30px;
}
#u36904_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u36904_input:disabled {
  color:grayText;
}
#u36905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u36905 {
  position:absolute;
  left:483px;
  top:269px;
  width:71px;
  height:18px;
  font-size:13px;
}
#u36906 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u36907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u36907 {
  position:absolute;
  left:496px;
  top:639px;
  width:153px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u36908 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u36909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u36909 {
  position:absolute;
  left:483px;
  top:319px;
  width:114px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u36910 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u36911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u36911 {
  position:absolute;
  left:825px;
  top:396px;
  width:45px;
  height:18px;
  font-size:13px;
}
#u36912 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u36913 {
  position:absolute;
  left:872px;
  top:386px;
  width:114px;
  height:37px;
}
#u36913_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u36914 {
  position:absolute;
  left:659px;
  top:565px;
  width:208px;
  height:18px;
}
#u36915 {
  position:absolute;
  left:16px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u36914_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u36916 {
  position:absolute;
  left:496px;
  top:702px;
  width:138px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u36917 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u36918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u36918 {
  position:absolute;
  left:644px;
  top:702px;
  width:165px;
  height:18px;
  color:#999999;
}
#u36919 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u36920 {
  position:absolute;
  left:1379px;
  top:644px;
  width:86px;
  height:18px;
}
#u36921 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u36920_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u36922 {
  position:absolute;
  left:1378px;
  top:704px;
  width:87px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u36923 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u36924_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1025px;
  height:10px;
}
#u36924 {
  position:absolute;
  left:473px;
  top:360px;
  width:1020px;
  height:5px;
}
#u36925 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:19px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36926 {
  position:absolute;
  left:483px;
  top:519px;
  width:1010px;
  height:19px;
}
#u36927 {
  position:absolute;
  left:2px;
  top:2px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36928 {
  position:absolute;
  left:1069px;
  top:393px;
  width:396px;
  height:30px;
}
#u36928_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u36929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u36929 {
  position:absolute;
  left:1032px;
  top:399px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u36930 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u36932 {
  position:absolute;
  left:553px;
  top:1198px;
  width:39px;
  height:18px;
  font-size:13px;
}
#u36933 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u36934 {
  position:absolute;
  left:598px;
  top:1192px;
  width:281px;
  height:30px;
}
#u36934_input {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u36935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u36935 {
  position:absolute;
  left:898px;
  top:1200px;
  width:45px;
  height:18px;
  font-size:13px;
}
#u36936 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u36937 {
  position:absolute;
  left:945px;
  top:1190px;
  width:114px;
  height:37px;
}
#u36937_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u36938 {
  position:absolute;
  left:1164px;
  top:1193px;
  width:371px;
  height:30px;
}
#u36938_input {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u36939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u36939 {
  position:absolute;
  left:1127px;
  top:1199px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u36940 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u36941 {
  position:absolute;
  left:1545px;
  top:1193px;
  width:25px;
  height:25px;
}
#u36942 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u36943 {
  position:absolute;
  left:496px;
  top:560px;
  width:153px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u36944 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u36945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u36945 {
  position:absolute;
  left:833px;
  top:554px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u36946 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u36947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u36947 {
  position:absolute;
  left:483px;
  top:1038px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u36948 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u36949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u36949 {
  position:absolute;
  left:543px;
  top:1046px;
  width:11px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u36950 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  visibility:hidden;
  white-space:nowrap;
}
#u36951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u36951 {
  position:absolute;
  left:543px;
  top:1091px;
  width:560px;
  height:36px;
  font-size:13px;
  color:#008000;
}
#u36952 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u36953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u36953 {
  position:absolute;
  left:543px;
  top:1047px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u36954 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u36955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36955 {
  position:absolute;
  left:1313px;
  top:795px;
  width:140px;
  height:40px;
}
#u36956 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u36957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u36957 {
  position:absolute;
  left:926px;
  top:360px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u36958 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u36959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:426px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36959 {
  position:absolute;
  left:533px;
  top:1332px;
  width:581px;
  height:426px;
  opacity:0.8;
}
#u36960 {
  position:absolute;
  left:2px;
  top:205px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u36961 {
  position:absolute;
  left:483px;
  top:1332px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u36962 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u36963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u36963 {
  position:absolute;
  left:543px;
  top:1148px;
  width:11px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u36964 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  visibility:hidden;
  white-space:nowrap;
}
#u36965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u36965 {
  position:absolute;
  left:543px;
  top:1376px;
  width:311px;
  height:33px;
  font-size:13px;
  color:#008000;
}
#u36966 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  white-space:nowrap;
}
#u36967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u36967 {
  position:absolute;
  left:543px;
  top:1341px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u36968 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u36969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u36969 {
  position:absolute;
  left:543px;
  top:1467px;
  width:77px;
  height:18px;
  font-size:13px;
  color:#008000;
}
#u36970 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u36971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u36971 {
  position:absolute;
  left:543px;
  top:1432px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u36972 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u36973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:36px;
}
#u36973 {
  position:absolute;
  left:613px;
  top:1467px;
  width:475px;
  height:36px;
}
#u36974 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u36975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u36975 {
  position:absolute;
  left:543px;
  top:1513px;
  width:376px;
  height:18px;
  font-size:13px;
  color:#008000;
}
#u36976 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  white-space:nowrap;
}
#u36977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36977 {
  position:absolute;
  left:1128px;
  top:795px;
  width:140px;
  height:40px;
}
#u36978 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u36979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u36980 {
  position:absolute;
  left:604px;
  top:1628px;
  width:65px;
  height:28px;
  font-size:14px;
  text-align:left;
}
#u36981 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u36982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u36982 {
  position:absolute;
  left:585px;
  top:1660px;
  width:112px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u36983 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u36984 {
  position:absolute;
  left:558px;
  top:1632px;
  width:46px;
  height:18px;
}
#u36985 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u36984_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36986 {
  position:absolute;
  left:669px;
  top:1629px;
  width:73px;
  height:22px;
}
#u36987 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u36988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u36988 {
  position:absolute;
  left:577px;
  top:1678px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u36989 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u36990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u36991 {
  position:absolute;
  left:879px;
  top:1628px;
  width:65px;
  height:28px;
  font-size:14px;
  text-align:left;
}
#u36992 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u36993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u36993 {
  position:absolute;
  left:860px;
  top:1660px;
  width:112px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u36994 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u36995 {
  position:absolute;
  left:833px;
  top:1632px;
  width:46px;
  height:18px;
}
#u36996 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u36995_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36997 {
  position:absolute;
  left:944px;
  top:1629px;
  width:73px;
  height:22px;
}
#u36998 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u36999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u36999 {
  position:absolute;
  left:852px;
  top:1678px;
  width:107px;
  height:18px;
  font-size:13px;
  color:#FF0000;
}
#u37000 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u37001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u37002 {
  position:absolute;
  left:559px;
  top:1678px;
  width:18px;
  height:18px;
}
#u37003 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u37004 {
  position:absolute;
  left:556px;
  top:1674px;
  width:26px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u37005 {
  position:absolute;
  left:0px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u37006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u37007 {
  position:absolute;
  left:829px;
  top:1678px;
  width:18px;
  height:18px;
}
#u37008 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u37009 {
  position:absolute;
  left:826px;
  top:1674px;
  width:26px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u37010 {
  position:absolute;
  left:0px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u37011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:36px;
}
#u37011 {
  position:absolute;
  left:547px;
  top:1592px;
  width:513px;
  height:36px;
  color:#008000;
}
#u37012 {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  word-wrap:break-word;
}
#u37013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u37014 {
  position:absolute;
  left:602px;
  top:1534px;
  width:65px;
  height:28px;
  font-size:14px;
  text-align:left;
}
#u37015 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u37016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37016 {
  position:absolute;
  left:583px;
  top:1566px;
  width:112px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u37017 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u37018 {
  position:absolute;
  left:556px;
  top:1538px;
  width:46px;
  height:18px;
}
#u37019 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u37018_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37020 {
  position:absolute;
  left:667px;
  top:1535px;
  width:104px;
  height:23px;
}
#u37021 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u37022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u37022 {
  position:absolute;
  left:543px;
  top:2012px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u37023 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u37024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u37024 {
  position:absolute;
  left:833px;
  top:633px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u37025 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u37026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u37026 {
  position:absolute;
  left:483px;
  top:1768px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u37027 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u37028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u37028 {
  position:absolute;
  left:543px;
  top:1872px;
  width:11px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u37029 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  visibility:hidden;
  white-space:nowrap;
}
#u37030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u37030 {
  position:absolute;
  left:543px;
  top:2047px;
  width:77px;
  height:18px;
  font-size:13px;
  color:#008000;
}
#u37031 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u37032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:36px;
}
#u37032 {
  position:absolute;
  left:613px;
  top:2047px;
  width:475px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u37033 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u37034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u37034 {
  position:absolute;
  left:543px;
  top:2093px;
  width:332px;
  height:69px;
  font-size:13px;
  color:#008000;
}
#u37035 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  white-space:nowrap;
}
#u37036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u37036 {
  position:absolute;
  left:1453px;
  top:764px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u37037 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u37038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u37038 {
  position:absolute;
  left:543px;
  top:1816px;
  width:363px;
  height:18px;
  font-size:13px;
  color:#008000;
}
#u37039 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  white-space:nowrap;
}
#u37040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u37040 {
  position:absolute;
  left:543px;
  top:1781px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u37041 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u37042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u37042 {
  position:absolute;
  left:543px;
  top:1900px;
  width:298px;
  height:54px;
  font-size:13px;
  color:#008000;
}
#u37043 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  white-space:nowrap;
}
#u37044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u37044 {
  position:absolute;
  left:543px;
  top:1865px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u37045 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u37046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u37046 {
  position:absolute;
  left:556px;
  top:1963px;
  width:138px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u37047 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u37048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u37048 {
  position:absolute;
  left:851px;
  top:1918px;
  width:165px;
  height:18px;
  color:#999999;
}
#u37049 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u37050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37050 {
  position:absolute;
  left:1204px;
  top:1005px;
  width:581px;
  height:171px;
  opacity:0.8;
}
#u37051 {
  position:absolute;
  left:2px;
  top:78px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u37052 {
  position:absolute;
  left:1154px;
  top:1005px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u37053 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u37054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u37054 {
  position:absolute;
  left:1214px;
  top:1013px;
  width:65px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u37055 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u37056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u37056 {
  position:absolute;
  left:1214px;
  top:1058px;
  width:543px;
  height:36px;
  font-size:13px;
  color:#008000;
}
#u37057 {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  word-wrap:break-word;
}
#u37058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u37058 {
  position:absolute;
  left:564px;
  top:1131px;
  width:261px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u37059 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u37060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u37061 {
  position:absolute;
  left:546px;
  top:1131px;
  width:18px;
  height:18px;
}
#u37062 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u37063 {
  position:absolute;
  left:543px;
  top:1127px;
  width:26px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u37064 {
  position:absolute;
  left:0px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u37065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:18px;
}
#u37065 {
  position:absolute;
  left:547px;
  top:1701px;
  width:513px;
  height:18px;
  color:#008000;
}
#u37066 {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  word-wrap:break-word;
}
#u37067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u37067 {
  position:absolute;
  left:585px;
  top:1727px;
  width:131px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u37068 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u37069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u37070 {
  position:absolute;
  left:562px;
  top:1727px;
  width:18px;
  height:18px;
}
#u37071 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u37072 {
  position:absolute;
  left:559px;
  top:1723px;
  width:26px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u37073 {
  position:absolute;
  left:0px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u37074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u37074 {
  position:absolute;
  left:1214px;
  top:1094px;
  width:140px;
  height:40px;
  color:#999999;
}
#u37075 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u37076 {
  position:absolute;
  left:656px;
  top:2152px;
  width:86px;
  height:18px;
  color:#999999;
}
#u37077 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u37076_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u37078 {
  position:absolute;
  left:583px;
  top:2170px;
  width:159px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u37079 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u37080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37080 {
  position:absolute;
  left:656px;
  top:2154px;
  width:14px;
  height:14px;
}
#u37081 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:250px;
}
#u37082 {
  position:absolute;
  left:24px;
  top:1002px;
  width:335px;
  height:250px;
  font-size:16px;
}
#u37083 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u37084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
}
#u37084 {
  position:absolute;
  left:24px;
  top:976px;
  width:141px;
  height:28px;
  font-size:20px;
  color:#FF0000;
}
#u37085 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u37086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u37086 {
  position:absolute;
  left:1503px;
  top:805px;
  width:141px;
  height:20px;
  color:#008000;
}
#u37087 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u37088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u37088 {
  position:absolute;
  left:1214px;
  top:1144px;
  width:560px;
  height:18px;
  font-size:13px;
  color:#008000;
}
#u37089 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u37090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u37090 {
  position:absolute;
  left:543px;
  top:1154px;
  width:560px;
  height:36px;
  font-size:13px;
  color:#008000;
}
#u37091 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u37092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u37093 {
  position:absolute;
  left:553px;
  top:1245px;
  width:39px;
  height:18px;
  font-size:13px;
}
#u37094 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u37095 {
  position:absolute;
  left:598px;
  top:1239px;
  width:281px;
  height:30px;
}
#u37095_input {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u37096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u37096 {
  position:absolute;
  left:898px;
  top:1247px;
  width:45px;
  height:18px;
  font-size:13px;
}
#u37097 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u37098 {
  position:absolute;
  left:945px;
  top:1237px;
  width:114px;
  height:37px;
}
#u37098_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u37099 {
  position:absolute;
  left:1164px;
  top:1240px;
  width:371px;
  height:30px;
}
#u37099_input {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u37100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u37100 {
  position:absolute;
  left:1127px;
  top:1246px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u37101 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u37102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u37102 {
  position:absolute;
  left:1545px;
  top:1240px;
  width:25px;
  height:25px;
}
#u37103 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u37104 {
  position:absolute;
  left:543px;
  top:1284px;
  width:560px;
  height:18px;
  font-size:13px;
  color:#008000;
}
#u37105 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u37106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37106 {
  position:absolute;
  left:516px;
  top:1284px;
  width:331px;
  height:47px;
}
#u37107 {
  position:absolute;
  left:2px;
  top:16px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:44px;
}
#u37108 {
  position:absolute;
  left:24px;
  top:1268px;
  width:324px;
  height:44px;
  font-size:16px;
  color:#FF0000;
}
#u37109 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u37110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u37110 {
  position:absolute;
  left:661px;
  top:111px;
  width:27px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u37111 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u37112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u37112 {
  position:absolute;
  left:746px;
  top:111px;
  width:30px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u37113 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u37114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u37114 {
  position:absolute;
  left:834px;
  top:109px;
  width:53px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u37115 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:3px;
}
#u37116 {
  position:absolute;
  left:478px;
  top:138px;
  width:1020px;
  height:3px;
}
#u37117 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u37118 {
  position:absolute;
  left:488px;
  top:100px;
  width:35px;
  height:33px;
}
#u37119 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u37120 {
  position:absolute;
  left:1329px;
  top:100px;
  width:24px;
  height:24px;
}
#u37121 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u37122 {
  position:absolute;
  left:1391px;
  top:99px;
  width:24px;
  height:24px;
}
#u37123 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u37124 {
  position:absolute;
  left:1452px;
  top:102px;
  width:18px;
  height:20px;
}
#u37125 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37126_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:59px;
  height:10px;
}
#u37126 {
  position:absolute;
  left:1018px;
  top:135px;
  width:54px;
  height:5px;
}
#u37127 {
  position:absolute;
  left:2px;
  top:-6px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u37128 {
  position:absolute;
  left:947px;
  top:108px;
  width:26px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u37129 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u37130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u37130 {
  position:absolute;
  left:1031px;
  top:108px;
  width:27px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u37131 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u37132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u37132 {
  position:absolute;
  left:576px;
  top:111px;
  width:27px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u37133 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u37134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u37134 {
  position:absolute;
  left:770px;
  top:396px;
  width:45px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u37135 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
