﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1865px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:1509px;
  background:inherit;
  background-color:rgba(0, 128, 0, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38396 {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:1509px;
}
#u38397 {
  position:absolute;
  left:2px;
  top:746px;
  width:798px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38398 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u38399 {
  position:absolute;
  left:191px;
  top:194px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38400 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u38401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u38401 {
  position:absolute;
  left:364px;
  top:194px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38402 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u38403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38403 {
  position:absolute;
  left:191px;
  top:345px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38404 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u38405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38405 {
  position:absolute;
  left:341px;
  top:345px;
  width:147px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38406 {
  position:absolute;
  left:2px;
  top:3px;
  width:143px;
  word-wrap:break-word;
}
#u38407 {
  position:absolute;
  left:291px;
  top:224px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38407_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u38407_seg1 {
  position:absolute;
  left:59px;
  top:-10px;
  width:21px;
  height:20px;
}
#u38408 {
  position:absolute;
  left:-14px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u38409 {
  position:absolute;
  left:241px;
  top:254px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38409_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:95px;
}
#u38409_seg1 {
  position:absolute;
  left:-10px;
  top:77px;
  width:20px;
  height:21px;
}
#u38410 {
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
}
#u38411 {
  position:absolute;
  left:414px;
  top:254px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38411_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u38411_seg1 {
  position:absolute;
  left:-4px;
  top:72px;
  width:9px;
  height:8px;
}
#u38411_seg2 {
  position:absolute;
  left:-3px;
  top:72px;
  width:8px;
  height:19px;
}
#u38411_seg3 {
  position:absolute;
  left:-9px;
  top:77px;
  width:20px;
  height:21px;
}
#u38412 {
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  word-wrap:break-word;
}
#u38413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38413 {
  position:absolute;
  left:559px;
  top:194px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38414 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u38415 {
  position:absolute;
  left:464px;
  top:224px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38415_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u38415_seg1 {
  position:absolute;
  left:81px;
  top:-10px;
  width:21px;
  height:20px;
}
#u38416 {
  position:absolute;
  left:-2px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u38417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u38417 {
  position:absolute;
  left:191px;
  top:485px;
  width:100px;
  height:60px;
}
#u38418 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u38419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38419 {
  position:absolute;
  left:191px;
  top:608px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38420 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u38421 {
  position:absolute;
  left:241px;
  top:405px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38421_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u38421_seg1 {
  position:absolute;
  left:-10px;
  top:66px;
  width:20px;
  height:21px;
}
#u38422 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38423 {
  position:absolute;
  left:241px;
  top:545px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38423_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u38423_seg1 {
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:21px;
}
#u38424 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u38425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u38425 {
  position:absolute;
  left:354px;
  top:485px;
  width:100px;
  height:60px;
}
#u38426 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u38427 {
  position:absolute;
  left:291px;
  top:515px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38427_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u38427_seg1 {
  position:absolute;
  left:49px;
  top:-10px;
  width:21px;
  height:20px;
}
#u38428 {
  position:absolute;
  left:-18px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u38429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u38429 {
  position:absolute;
  left:513px;
  top:485px;
  width:100px;
  height:60px;
}
#u38430 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u38431 {
  position:absolute;
  left:454px;
  top:515px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38431_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u38431_seg1 {
  position:absolute;
  left:45px;
  top:-10px;
  width:21px;
  height:20px;
}
#u38432 {
  position:absolute;
  left:-20px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u38433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38433 {
  position:absolute;
  left:354px;
  top:608px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38434 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u38435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38435 {
  position:absolute;
  left:513px;
  top:608px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38436 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u38437 {
  position:absolute;
  left:404px;
  top:545px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38437_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u38437_seg1 {
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:21px;
}
#u38438 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u38439 {
  position:absolute;
  left:563px;
  top:545px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38439_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u38439_seg1 {
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:21px;
}
#u38440 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u38441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38441 {
  position:absolute;
  left:670px;
  top:485px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38442 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u38443 {
  position:absolute;
  left:613px;
  top:515px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38443_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u38443_seg1 {
  position:absolute;
  left:43px;
  top:-10px;
  width:21px;
  height:20px;
}
#u38444 {
  position:absolute;
  left:-22px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u38445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u38445 {
  position:absolute;
  left:21px;
  top:131px;
  width:181px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u38446 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u38447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38447 {
  position:absolute;
  left:21px;
  top:194px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38448 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u38449 {
  position:absolute;
  left:121px;
  top:224px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38449_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u38449_seg1 {
  position:absolute;
  left:56px;
  top:-10px;
  width:21px;
  height:20px;
}
#u38450 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u38451 {
  position:absolute;
  left:506px;
  top:373px;
  width:169px;
  height:20px;
  color:#FF0000;
}
#u38452 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u38453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u38453 {
  position:absolute;
  left:24px;
  top:29px;
  width:145px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u38454 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u38455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#008000;
}
#u38455 {
  position:absolute;
  left:823px;
  top:29px;
  width:145px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#008000;
}
#u38456 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u38457_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:150px;
  height:10px;
}
#u38457 {
  position:absolute;
  left:21px;
  top:80px;
  width:145px;
  height:5px;
  color:#008000;
}
#u38458 {
  position:absolute;
  left:2px;
  top:-6px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38459_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:150px;
  height:10px;
}
#u38459 {
  position:absolute;
  left:823px;
  top:80px;
  width:145px;
  height:5px;
  color:#FF0000;
}
#u38460 {
  position:absolute;
  left:2px;
  top:-6px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:51px;
}
#u38461 {
  position:absolute;
  left:1060px;
  top:461px;
  width:783px;
  height:51px;
}
#u38462 {
  position:absolute;
  left:2px;
  top:18px;
  width:779px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:52px;
}
#u38463 {
  position:absolute;
  left:1060px;
  top:322px;
  width:783px;
  height:52px;
}
#u38464 {
  position:absolute;
  left:2px;
  top:18px;
  width:779px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38465 {
  position:absolute;
  left:1078px;
  top:339px;
  width:180px;
  height:20px;
}
#u38466 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u38467_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:788px;
  height:9px;
}
#u38467 {
  position:absolute;
  left:1060px;
  top:243px;
  width:783px;
  height:4px;
}
#u38468 {
  position:absolute;
  left:2px;
  top:-6px;
  width:779px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38469 {
  position:absolute;
  left:1068px;
  top:211px;
  width:123px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38470 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u38471 {
  position:absolute;
  left:1060px;
  top:211px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u38472 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u38473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38473 {
  position:absolute;
  left:1078px;
  top:474px;
  width:180px;
  height:20px;
}
#u38474 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u38475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:17px;
}
#u38475 {
  position:absolute;
  left:1060px;
  top:252px;
  width:321px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u38476 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u38477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:51px;
}
#u38477 {
  position:absolute;
  left:1060px;
  top:532px;
  width:783px;
  height:51px;
}
#u38478 {
  position:absolute;
  left:2px;
  top:18px;
  width:779px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38479 {
  position:absolute;
  left:1078px;
  top:545px;
  width:180px;
  height:20px;
}
#u38480 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u38481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:51px;
}
#u38481 {
  position:absolute;
  left:1060px;
  top:600px;
  width:783px;
  height:51px;
}
#u38482 {
  position:absolute;
  left:2px;
  top:18px;
  width:779px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38483 {
  position:absolute;
  left:1078px;
  top:613px;
  width:180px;
  height:20px;
}
#u38484 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u38485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:51px;
}
#u38485 {
  position:absolute;
  left:1060px;
  top:394px;
  width:783px;
  height:51px;
}
#u38486 {
  position:absolute;
  left:2px;
  top:18px;
  width:779px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38487 {
  position:absolute;
  left:1078px;
  top:407px;
  width:180px;
  height:20px;
}
#u38488 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u38489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38489 {
  position:absolute;
  left:1310px;
  top:292px;
  width:84px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38490 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u38491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u38491 {
  position:absolute;
  left:1310px;
  top:407px;
  width:242px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u38492 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u38493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u38493 {
  position:absolute;
  left:1310px;
  top:477px;
  width:327px;
  height:18px;
  font-size:13px;
}
#u38494 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u38495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u38495 {
  position:absolute;
  left:1310px;
  top:547px;
  width:327px;
  height:18px;
  font-size:13px;
}
#u38496 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u38497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u38497 {
  position:absolute;
  left:1310px;
  top:614px;
  width:327px;
  height:18px;
  font-size:13px;
}
#u38498 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u38499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38499 {
  position:absolute;
  left:1078px;
  top:292px;
  width:84px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38500 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u38501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38501 {
  position:absolute;
  left:818px;
  top:171px;
  width:219px;
  height:15px;
}
#u38502 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u38503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u38503 {
  position:absolute;
  left:1006px;
  top:118px;
  width:27px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u38504 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u38505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u38505 {
  position:absolute;
  left:1091px;
  top:118px;
  width:30px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u38506 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u38507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u38507 {
  position:absolute;
  left:1179px;
  top:116px;
  width:53px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u38508 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:3px;
}
#u38509 {
  position:absolute;
  left:823px;
  top:145px;
  width:1020px;
  height:3px;
}
#u38510 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u38511 {
  position:absolute;
  left:833px;
  top:107px;
  width:35px;
  height:33px;
}
#u38512 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u38513 {
  position:absolute;
  left:1674px;
  top:107px;
  width:24px;
  height:24px;
}
#u38514 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u38515 {
  position:absolute;
  left:1736px;
  top:106px;
  width:24px;
  height:24px;
}
#u38516 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u38517 {
  position:absolute;
  left:1797px;
  top:109px;
  width:18px;
  height:20px;
}
#u38518 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38519_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:59px;
  height:10px;
}
#u38519 {
  position:absolute;
  left:1363px;
  top:142px;
  width:54px;
  height:5px;
}
#u38520 {
  position:absolute;
  left:2px;
  top:-6px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u38521 {
  position:absolute;
  left:1292px;
  top:115px;
  width:26px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u38522 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u38523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u38523 {
  position:absolute;
  left:1376px;
  top:115px;
  width:27px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u38524 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u38525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u38525 {
  position:absolute;
  left:921px;
  top:118px;
  width:27px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u38526 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u38527 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38528 {
  position:absolute;
  left:1330px;
  top:147px;
  width:125px;
  height:86px;
}
#u38529 {
  position:absolute;
  left:2px;
  top:35px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u38530 {
  position:absolute;
  left:1366px;
  top:158px;
  width:53px;
  height:18px;
  font-size:13px;
}
#u38531 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u38532 {
  position:absolute;
  left:1352px;
  top:200px;
  width:92px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u38533 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u38534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38534 {
  position:absolute;
  left:1339px;
  top:206px;
  width:6px;
  height:6px;
}
#u38535 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38536_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:130px;
  height:9px;
}
#u38536 {
  position:absolute;
  left:1330px;
  top:228px;
  width:125px;
  height:4px;
}
#u38537 {
  position:absolute;
  left:2px;
  top:-6px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:2px;
}
#u38538 {
  position:absolute;
  left:1330px;
  top:186px;
  width:125px;
  height:1px;
}
#u38539 {
  position:absolute;
  left:2px;
  top:-8px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u38540 {
  position:absolute;
  left:836px;
  top:211px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#999999;
}
#u38541 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u38542_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:23px;
}
#u38542 {
  position:absolute;
  left:823px;
  top:262px;
  width:3px;
  height:20px;
}
#u38543 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u38544 {
  position:absolute;
  left:836px;
  top:262px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u38545 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u38546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:402px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38546 {
  position:absolute;
  left:1028px;
  top:279px;
  width:837px;
  height:402px;
  opacity:0.3;
}
#u38547 {
  position:absolute;
  left:2px;
  top:193px;
  width:833px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
}
#u38548 {
  position:absolute;
  left:1668px;
  top:279px;
  width:183px;
  height:20px;
  font-size:14px;
  color:#FF0000;
}
#u38549 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
