﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1002px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:760px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.67843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16872 {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:760px;
}
#u16873 {
  position:absolute;
  left:2px;
  top:372px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:482px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16874 {
  position:absolute;
  left:230px;
  top:98px;
  width:520px;
  height:482px;
}
#u16875 {
  position:absolute;
  left:2px;
  top:233px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u16876 {
  position:absolute;
  left:730px;
  top:98px;
  width:20px;
  height:20px;
}
#u16877 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16878 {
  position:absolute;
  left:428px;
  top:115px;
  width:118px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16879 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u16880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:210px;
}
#u16880 {
  position:absolute;
  left:390px;
  top:170px;
  width:209px;
  height:210px;
}
#u16881 {
  position:absolute;
  left:2px;
  top:97px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:2px;
}
#u16882 {
  position:absolute;
  left:230px;
  top:455px;
  width:520px;
  height:1px;
}
#u16883 {
  position:absolute;
  left:2px;
  top:-8px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16884 {
  position:absolute;
  left:258px;
  top:488px;
  width:510px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16885 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  white-space:nowrap;
}
#u16886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:32px;
}
#u16886 {
  position:absolute;
  left:478px;
  top:528px;
  width:46px;
  height:32px;
}
#u16887 {
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
