﻿.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._形状 {
}
._图片 {
  color:#000000;
}
._一级标题 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
._文本框 {
  color:#000000;
  text-align:left;
}
._多行文本框 {
  color:#000000;
  text-align:left;
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
._复选框 {
  text-align:left;
}
._单选按钮 {
  text-align:left;
}
._流程形状 {
}
.table {
}
._水平线 {
}
._垂直线 {
}
._连接线 {
}
.box_1 {
}
.box_3 {
}
.icon {
}
.label {
  font-size:14px;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.box_2 {
}
.line {
}
.primary_button {
  color:#FFFFFF;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
._图片1 {
  color:#000000;
}
.ellipse {
}
.shape {
  font-size:13px;
  color:#000000;
}
.horizontal_line {
}
.button {
}
.link_button {
  color:#169BD5;
}
.placeholder {
}
.image {
  color:#000000;
}
._图片2 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
._图片3 {
  color:#000000;
}
.image1 {
  color:#000000;
}
.image2 {
  font-size:13px;
  color:#000000;
}
.text_area {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.vertical_line {
}
.table_cell {
}
.heading_1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.table1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.table_cell1 {
  font-size:13px;
  color:#000000;
}
._提交按钮 {
  color:#000000;
}
.shape1 {
}
.table_cell2 {
}
