﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1037px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:2091px;
}
#u1097 {
  position:absolute;
  left:13px;
  top:12px;
  width:1024px;
  height:2091px;
}
#u1098 {
  position:absolute;
  left:2px;
  top:1038px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
