﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:359px;
}
#u12867 {
  position:absolute;
  left:8px;
  top:474px;
  width:1033px;
  height:359px;
}
#u12868 {
  position:absolute;
  left:2px;
  top:172px;
  width:1029px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:23px;
}
#u12870 {
  position:absolute;
  left:174px;
  top:639px;
  width:854px;
  height:23px;
}
#u12871 {
  position:absolute;
  left:2px;
  top:4px;
  width:850px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12872 {
  position:absolute;
  left:284px;
  top:639px;
  width:47px;
  height:26px;
  font-size:12px;
}
#u12873 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  visibility:hidden;
  white-space:nowrap;
}
#u12874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12874 {
  position:absolute;
  left:339px;
  top:639px;
  width:47px;
  height:26px;
  font-size:12px;
}
#u12875 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u12876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12876 {
  position:absolute;
  left:394px;
  top:639px;
  width:47px;
  height:26px;
  font-size:12px;
}
#u12877 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u12878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12878 {
  position:absolute;
  left:450px;
  top:639px;
  width:47px;
  height:26px;
  font-size:12px;
}
#u12879 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u12880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12880 {
  position:absolute;
  left:505px;
  top:639px;
  width:47px;
  height:26px;
  font-size:12px;
}
#u12881 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u12882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12882 {
  position:absolute;
  left:560px;
  top:639px;
  width:47px;
  height:26px;
  font-size:12px;
}
#u12883 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u12884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12884 {
  position:absolute;
  left:615px;
  top:639px;
  width:47px;
  height:26px;
  font-size:12px;
}
#u12885 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u12886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12886 {
  position:absolute;
  left:670px;
  top:639px;
  width:47px;
  height:26px;
  font-size:12px;
}
#u12887 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u12888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12888 {
  position:absolute;
  left:738px;
  top:638px;
  width:25px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12889 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12890 {
  position:absolute;
  left:808px;
  top:638px;
  width:49px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12891 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12892 {
  position:absolute;
  left:958px;
  top:638px;
  width:49px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12893 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:37px;
}
#u12894 {
  position:absolute;
  left:328px;
  top:676px;
  width:400px;
  height:37px;
}
#u12895 {
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:37px;
}
#u12896 {
  position:absolute;
  left:722px;
  top:676px;
  width:310px;
  height:37px;
}
#u12897 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12898 {
  position:absolute;
  left:738px;
  top:687px;
  width:60px;
  height:15px;
}
#u12899 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12900 {
  position:absolute;
  left:808px;
  top:687px;
  width:60px;
  height:18px;
}
#u12901 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12902 {
  position:absolute;
  left:842px;
  top:687px;
  width:96px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u12903 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u12904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12904 {
  position:absolute;
  left:958px;
  top:688px;
  width:60px;
  height:18px;
}
#u12905 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u12906 {
  position:absolute;
  left:963px;
  top:563px;
  width:25px;
  height:22px;
  opacity:0.400000005960464;
}
#u12907 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u12908 {
  position:absolute;
  left:930px;
  top:563px;
  width:23px;
  height:22px;
  opacity:0.400000005960464;
}
#u12909 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
}
#u12910 {
  position:absolute;
  left:918px;
  top:597px;
  width:114px;
  height:26px;
}
#u12911 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:464px;
}
#u12912 {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:464px;
}
#u12913 {
  position:absolute;
  left:2px;
  top:224px;
  width:1045px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u12914 {
  position:absolute;
  left:8px;
  top:100px;
  width:200px;
  height:30px;
}
#u12915 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12916 {
  position:absolute;
  left:18px;
  top:106px;
  width:152px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12917 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u12918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u12918 {
  position:absolute;
  left:90px;
  top:60px;
  width:200px;
  height:30px;
}
#u12919 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12920 {
  position:absolute;
  left:96px;
  top:67px;
  width:53px;
  height:18px;
}
#u12921 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u12922 {
  position:absolute;
  left:998px;
  top:563px;
  width:22px;
  height:22px;
  opacity:0.300000011920929;
}
#u12923 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u12924 {
  position:absolute;
  left:150px;
  top:723px;
  width:200px;
  height:30px;
}
#u12925 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u12926 {
  position:absolute;
  left:158px;
  top:730px;
  width:92px;
  height:15px;
  color:#FF9900;
}
#u12927 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u12928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:41px;
}
#u12928 {
  position:absolute;
  left:8px;
  top:1000px;
  width:1041px;
  height:41px;
  color:#FFFFFF;
}
#u12929 {
  position:absolute;
  left:2px;
  top:12px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1271px;
}
#u12930 {
  position:absolute;
  left:87px;
  top:1000px;
  width:1px;
  height:1270px;
}
#u12931 {
  position:absolute;
  left:2px;
  top:627px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12932 {
  position:absolute;
  left:28px;
  top:1008px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u12933 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12934 {
  position:absolute;
  left:258px;
  top:1008px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u12935 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12936 {
  position:absolute;
  left:114px;
  top:1008px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u12937 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1271px;
}
#u12938 {
  position:absolute;
  left:216px;
  top:1000px;
  width:1px;
  height:1270px;
}
#u12939 {
  position:absolute;
  left:2px;
  top:627px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:149px;
}
#u12940 {
  position:absolute;
  left:709px;
  top:1982px;
  width:1px;
  height:148px;
}
#u12941 {
  position:absolute;
  left:2px;
  top:66px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u12942 {
  position:absolute;
  left:114px;
  top:1060px;
  width:57px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u12943 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12944 {
  position:absolute;
  left:258px;
  top:1060px;
  width:372px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12945 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  word-wrap:break-word;
}
#u12946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12946 {
  position:absolute;
  left:258px;
  top:1620px;
  width:382px;
  height:48px;
}
#u12947 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  word-wrap:break-word;
}
#u12948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u12948 {
  position:absolute;
  left:284px;
  top:590px;
  width:200px;
  height:30px;
}
#u12949 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u12950 {
  position:absolute;
  left:258px;
  top:1710px;
  width:278px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u12951 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u12952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12952 {
  position:absolute;
  left:258px;
  top:1738px;
  width:562px;
  height:122px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12953 {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  word-wrap:break-word;
}
#u12954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u12954 {
  position:absolute;
  left:258px;
  top:2000px;
  width:278px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u12955 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u12956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u12956 {
  position:absolute;
  left:258px;
  top:2028px;
  width:342px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u12957 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u12958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u12958 {
  position:absolute;
  left:984px;
  top:2026px;
  width:22px;
  height:22px;
}
#u12959 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12960 {
  position:absolute;
  left:748px;
  top:2000px;
  width:27px;
  height:15px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12961 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12962 {
  position:absolute;
  left:748px;
  top:2128px;
  width:27px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12963 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12964 {
  position:absolute;
  left:748px;
  top:2057px;
  width:31px;
  height:15px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12965 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u12966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12966 {
  position:absolute;
  left:748px;
  top:2086px;
  width:41px;
  height:15px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12967 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u12968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12968 {
  position:absolute;
  left:788px;
  top:2058px;
  width:40px;
  height:18px;
  opacity:0.300000011920929;
  color:#000000;
}
#u12969 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u12970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6699CC;
}
#u12970 {
  position:absolute;
  left:788px;
  top:2086px;
  width:69px;
  height:18px;
  color:#6699CC;
}
#u12971 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u12972_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:260px;
  height:5px;
}
#u12972 {
  position:absolute;
  left:748px;
  top:2118px;
  width:257px;
  height:2px;
}
#u12973 {
  position:absolute;
  left:2px;
  top:-7px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u12974 {
  position:absolute;
  left:804px;
  top:2128px;
  width:200px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u12975 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u12976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12976 {
  position:absolute;
  left:940px;
  top:2000px;
  width:64px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12977 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u12978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12978 {
  position:absolute;
  left:748px;
  top:2027px;
  width:53px;
  height:15px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12979 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u12980 {
  position:absolute;
  left:918px;
  top:2029px;
  width:64px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u12981 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u12982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u12982 {
  position:absolute;
  left:940px;
  top:2058px;
  width:64px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u12983 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u12984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u12984 {
  position:absolute;
  left:940px;
  top:2088px;
  width:64px;
  height:19px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u12985 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u12986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:49px;
}
#u12986 {
  position:absolute;
  left:779px;
  top:2037px;
  width:61px;
  height:49px;
}
#u12987 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u12988 {
  position:absolute;
  left:858px;
  top:2058px;
  width:95px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u12989 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u12990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u12990 {
  position:absolute;
  left:258px;
  top:2100px;
  width:278px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u12991 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u12992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u12992 {
  position:absolute;
  left:258px;
  top:2128px;
  width:342px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u12993 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u12994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u12994 {
  position:absolute;
  left:258px;
  top:1900px;
  width:298px;
  height:90px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u12995 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u12996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:49px;
}
#u12996 {
  position:absolute;
  left:574px;
  top:1913px;
  width:128px;
  height:49px;
}
#u12997 {
  position:absolute;
  left:2px;
  top:16px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1047px;
  height:2px;
}
#u12998 {
  position:absolute;
  left:8px;
  top:1977px;
  width:1046px;
  height:1px;
}
#u12999 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1042px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:64px;
}
#u13000 {
  position:absolute;
  left:0px;
  top:860px;
  width:1024px;
  height:64px;
}
#u13001 {
  position:absolute;
  left:2px;
  top:24px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13002 {
  position:absolute;
  left:572px;
  top:886px;
  width:89px;
  height:15px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13003 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u13004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u13004 {
  position:absolute;
  left:686px;
  top:879px;
  width:98px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u13005 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u13006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13006 {
  position:absolute;
  left:895px;
  top:860px;
  width:129px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13006_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13006.mouseOver {
}
#u13007 {
  position:absolute;
  left:2px;
  top:24px;
  width:125px;
  word-wrap:break-word;
}
#u13008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u13008 {
  position:absolute;
  left:618px;
  top:915px;
  width:222px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u13009 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u13010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u13010 {
  position:absolute;
  left:258px;
  top:1598px;
  width:404px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u13011 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  word-wrap:break-word;
}
#u13012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u13012 {
  position:absolute;
  left:258px;
  top:1092px;
  width:392px;
  height:18px;
  color:#008000;
}
#u13013 {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  word-wrap:break-word;
}
#u13014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13014 {
  position:absolute;
  left:640px;
  top:1060px;
  width:450px;
  height:510px;
  font-size:12px;
}
#u13015 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u13016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:61px;
}
#u13016 {
  position:absolute;
  left:108px;
  top:709px;
  width:179px;
  height:61px;
}
#u13017 {
  position:absolute;
  left:2px;
  top:22px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:61px;
}
#u13018 {
  position:absolute;
  left:886px;
  top:860px;
  width:179px;
  height:61px;
}
#u13019 {
  position:absolute;
  left:2px;
  top:22px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:61px;
}
#u13020 {
  position:absolute;
  left:8px;
  top:84px;
  width:112px;
  height:61px;
}
#u13021 {
  position:absolute;
  left:2px;
  top:22px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13022 {
  position:absolute;
  left:606px;
  top:1068px;
  width:24px;
  height:24px;
}
#u13023 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u13024 {
  position:absolute;
  left:342px;
  top:199px;
  width:41px;
  height:41px;
  font-size:20px;
  color:#FFFFFF;
}
#u13025 {
  position:absolute;
  left:2px;
  top:9px;
  width:37px;
  word-wrap:break-word;
}
#u13026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u13026 {
  position:absolute;
  left:297px;
  top:729px;
  width:41px;
  height:41px;
  font-size:20px;
  color:#FFFFFF;
}
#u13027 {
  position:absolute;
  left:2px;
  top:9px;
  width:37px;
  word-wrap:break-word;
}
#u13028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u13028 {
  position:absolute;
  left:28px;
  top:1060px;
  width:41px;
  height:41px;
  font-size:20px;
  color:#FFFFFF;
}
#u13029 {
  position:absolute;
  left:2px;
  top:9px;
  width:37px;
  word-wrap:break-word;
}
#u13030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u13030 {
  position:absolute;
  left:28px;
  top:1710px;
  width:41px;
  height:41px;
  font-size:20px;
  color:#FFFFFF;
}
#u13031 {
  position:absolute;
  left:2px;
  top:9px;
  width:37px;
  word-wrap:break-word;
}
#u13032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:2px;
}
#u13032 {
  position:absolute;
  left:8px;
  top:1685px;
  width:1041px;
  height:1px;
}
#u13033 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u13034 {
  position:absolute;
  left:114px;
  top:1060px;
  width:76px;
  height:66px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u13035 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u13036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u13036 {
  position:absolute;
  left:770px;
  top:838px;
  width:41px;
  height:41px;
  font-size:20px;
  color:#FFFFFF;
}
#u13037 {
  position:absolute;
  left:2px;
  top:9px;
  width:37px;
  word-wrap:break-word;
}
#u13038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u13038 {
  position:absolute;
  left:18px;
  top:2000px;
  width:41px;
  height:41px;
  font-size:20px;
  color:#FFFFFF;
}
#u13039 {
  position:absolute;
  left:2px;
  top:9px;
  width:37px;
  word-wrap:break-word;
}
#u13040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u13040 {
  position:absolute;
  left:114px;
  top:1720px;
  width:76px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u13041 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u13042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u13042 {
  position:absolute;
  left:114px;
  top:2000px;
  width:76px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#008000;
}
#u13043 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
