﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:1070px;
}
#u7913 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:1070px;
}
#u7914 {
  position:absolute;
  left:2px;
  top:527px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u7915 {
  position:absolute;
  left:349px;
  top:437px;
  width:421px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u7916 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u7917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u7917 {
  position:absolute;
  left:190px;
  top:550px;
  width:213px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u7918 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u7919_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:24px;
  height:32px;
}
#u7919p000 {
  position:absolute;
  left:-10px;
  top:8px;
  width:24px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7919p000_img {
  position:absolute;
  left:-6px;
  top:-6px;
  width:44px;
  height:16px;
}
#u7919p001 {
  position:absolute;
  left:0px;
  top:-2px;
  width:4px;
  height:4px;
}
#u7919p001_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:24px;
  height:16px;
}
#u7919p002 {
  position:absolute;
  left:-10px;
  top:0px;
  width:24px;
  height:24px;
}
#u7919p002_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:44px;
  height:36px;
}
#u7919.compound {
  width:0px;
  height:0px;
}
#u7919 {
  position:absolute;
  left:213px;
  top:570px;
  width:4px;
  height:20px;
}
#u7920 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u7921 {
  position:absolute;
  left:935px;
  top:450px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u7922 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u7923_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:24px;
  height:32px;
}
#u7923p000 {
  position:absolute;
  left:-10px;
  top:8px;
  width:24px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7923p000_img {
  position:absolute;
  left:-6px;
  top:-6px;
  width:44px;
  height:16px;
}
#u7923p001 {
  position:absolute;
  left:0px;
  top:-2px;
  width:4px;
  height:4px;
}
#u7923p001_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:24px;
  height:16px;
}
#u7923p002 {
  position:absolute;
  left:-10px;
  top:0px;
  width:24px;
  height:24px;
}
#u7923p002_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:44px;
  height:36px;
}
#u7923.compound {
  width:0px;
  height:0px;
}
#u7923 {
  position:absolute;
  left:998px;
  top:470px;
  width:4px;
  height:20px;
}
#u7924 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u7925 {
  position:absolute;
  left:349px;
  top:483px;
  width:267px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u7926 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u7927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:80px;
}
#u7927 {
  position:absolute;
  left:0px;
  top:460px;
  width:330px;
  height:80px;
}
#u7928 {
  position:absolute;
  left:2px;
  top:32px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
