﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1183px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:421px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20381 {
  position:absolute;
  left:22px;
  top:1497px;
  width:658px;
  height:421px;
}
#u20382 {
  position:absolute;
  left:2px;
  top:202px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#008000;
}
#u20383 {
  position:absolute;
  left:30px;
  top:140px;
  width:535px;
  height:39px;
  font-size:28px;
  color:#008000;
}
#u20384 {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  word-wrap:break-word;
}
#u20385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:57px;
}
#u20385 {
  position:absolute;
  left:30px;
  top:207px;
  width:1029px;
  height:57px;
}
#u20386 {
  position:absolute;
  left:2px;
  top:20px;
  width:1025px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:7px;
  color:#FFFFFF;
}
#u20387 {
  position:absolute;
  left:449px;
  top:215px;
  width:21px;
  height:14px;
  font-size:7px;
  color:#FFFFFF;
}
#u20388 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  word-wrap:break-word;
}
#u20389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20389 {
  position:absolute;
  left:395px;
  top:257px;
  width:108px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20390 {
  position:absolute;
  left:2px;
  top:14px;
  width:104px;
  word-wrap:break-word;
}
#u20391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20391 {
  position:absolute;
  left:395px;
  top:303px;
  width:108px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20392 {
  position:absolute;
  left:2px;
  top:14px;
  width:104px;
  word-wrap:break-word;
}
#u20393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20393 {
  position:absolute;
  left:395px;
  top:349px;
  width:108px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20394 {
  position:absolute;
  left:2px;
  top:14px;
  width:104px;
  word-wrap:break-word;
}
#u20395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20395 {
  position:absolute;
  left:395px;
  top:395px;
  width:108px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20396 {
  position:absolute;
  left:2px;
  top:14px;
  width:104px;
  word-wrap:break-word;
}
#u20397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u20397 {
  position:absolute;
  left:431px;
  top:229px;
  width:39px;
  height:39px;
}
#u20398 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:231px;
}
#u20399 {
  position:absolute;
  left:635px;
  top:264px;
  width:440px;
  height:231px;
}
#u20400 {
  position:absolute;
  left:2px;
  top:108px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u20401 {
  position:absolute;
  left:470px;
  top:274px;
  width:39px;
  height:39px;
}
#u20402 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20403 {
  position:absolute;
  left:470px;
  top:249px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u20403_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:126px;
  height:8px;
}
#u20403_seg1 {
  position:absolute;
  left:118px;
  top:-4px;
  width:8px;
  height:139px;
}
#u20403_seg2 {
  position:absolute;
  left:118px;
  top:127px;
  width:47px;
  height:8px;
}
#u20403_seg3 {
  position:absolute;
  left:148px;
  top:121px;
  width:21px;
  height:20px;
}
#u20404 {
  position:absolute;
  left:72px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20405 {
  position:absolute;
  left:509px;
  top:294px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u20405_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:72px;
  height:8px;
}
#u20405_seg1 {
  position:absolute;
  left:64px;
  top:-4px;
  width:8px;
  height:94px;
}
#u20405_seg2 {
  position:absolute;
  left:64px;
  top:82px;
  width:62px;
  height:8px;
}
#u20405_seg3 {
  position:absolute;
  left:109px;
  top:76px;
  width:21px;
  height:20px;
}
#u20406 {
  position:absolute;
  left:18px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u20407 {
  position:absolute;
  left:584px;
  top:417px;
  width:385px;
  height:135px;
  color:#008000;
}
#u20408 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u20409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:404px;
}
#u20409 {
  position:absolute;
  left:26px;
  top:662px;
  width:635px;
  height:404px;
}
#u20410 {
  position:absolute;
  left:2px;
  top:194px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20411 {
  position:absolute;
  left:236px;
  top:857px;
  width:91px;
  height:199px;
}
#u20412 {
  position:absolute;
  left:2px;
  top:92px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:231px;
}
#u20413 {
  position:absolute;
  left:713px;
  top:825px;
  width:440px;
  height:231px;
}
#u20414 {
  position:absolute;
  left:2px;
  top:108px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u20415 {
  position:absolute;
  left:734px;
  top:1056px;
  width:449px;
  height:135px;
  color:#008000;
}
#u20416 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u20417 {
  position:absolute;
  left:327px;
  top:957px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u20417_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:377px;
  height:8px;
}
#u20417_seg1 {
  position:absolute;
  left:369px;
  top:-20px;
  width:8px;
  height:24px;
}
#u20417_seg2 {
  position:absolute;
  left:369px;
  top:-20px;
  width:17px;
  height:8px;
}
#u20417_seg3 {
  position:absolute;
  left:369px;
  top:-26px;
  width:21px;
  height:20px;
}
#u20418 {
  position:absolute;
  left:151px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:233px;
}
#u20419 {
  position:absolute;
  left:25px;
  top:1150px;
  width:636px;
  height:233px;
}
#u20420 {
  position:absolute;
  left:2px;
  top:108px;
  width:632px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20421 {
  position:absolute;
  left:30px;
  top:1298px;
  width:623px;
  height:79px;
}
#u20422 {
  position:absolute;
  left:2px;
  top:32px;
  width:619px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20423 {
  position:absolute;
  left:653px;
  top:1338px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u20423_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u20423_seg1 {
  position:absolute;
  left:43px;
  top:-401px;
  width:8px;
  height:405px;
}
#u20423_seg2 {
  position:absolute;
  left:43px;
  top:-401px;
  width:17px;
  height:8px;
}
#u20423_seg3 {
  position:absolute;
  left:43px;
  top:-407px;
  width:21px;
  height:20px;
}
#u20424 {
  position:absolute;
  left:-3px;
  top:-190px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#008000;
}
#u20425 {
  position:absolute;
  left:30px;
  top:600px;
  width:681px;
  height:39px;
  font-size:28px;
  color:#008000;
}
#u20426 {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  word-wrap:break-word;
}
#u20427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u20427 {
  position:absolute;
  left:30px;
  top:1943px;
  width:681px;
  height:39px;
  font-size:28px;
}
#u20428 {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  word-wrap:break-word;
}
#u20429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:260px;
}
#u20429 {
  position:absolute;
  left:60px;
  top:2060px;
  width:484px;
  height:260px;
}
#u20430 {
  position:absolute;
  left:2px;
  top:122px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:148px;
}
#u20431 {
  position:absolute;
  left:30px;
  top:1509px;
  width:642px;
  height:148px;
}
#u20432 {
  position:absolute;
  left:2px;
  top:66px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20433 {
  position:absolute;
  left:236px;
  top:1838px;
  width:200px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20434 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u20435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:104px;
}
#u20435 {
  position:absolute;
  left:268px;
  top:1718px;
  width:136px;
  height:103px;
}
#u20436 {
  position:absolute;
  left:2px;
  top:44px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#008000;
}
#u20437 {
  position:absolute;
  left:30px;
  top:1429px;
  width:681px;
  height:39px;
  font-size:28px;
  color:#008000;
}
#u20438 {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  word-wrap:break-word;
}
#u20439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u20439 {
  position:absolute;
  left:30px;
  top:63px;
  width:773px;
  height:39px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u20440 {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  word-wrap:break-word;
}
