﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1026px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:223px;
  top:18px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:10px;
  top:10px;
  width:78px;
  height:30px;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:900px;
  top:18px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:313px;
  top:18px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:850px;
  top:12px;
  width:24px;
  height:24px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:143px;
  top:18px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:0px;
  top:60px;
  width:1026px;
  height:43px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:43px;
}
#u16 {
  position:absolute;
  left:2px;
  top:14px;
  width:1022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:24px;
  top:71px;
  width:192px;
  height:15px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:455px;
  top:292px;
  width:53px;
  height:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:413px;
  top:130px;
  width:137px;
  height:130px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:130px;
}
#u22 {
  position:absolute;
  left:2px;
  top:57px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:382px;
  top:360px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:455px;
  top:762px;
  width:53px;
  height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:413px;
  top:600px;
  width:137px;
  height:130px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:130px;
}
#u28 {
  position:absolute;
  left:2px;
  top:57px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:382px;
  top:830px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:237px;
  top:950px;
  width:504px;
  height:139px;
  color:#999999;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:139px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:80px;
  top:910px;
  width:900px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:883px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:900px;
  height:1px;
}
