﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1921px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38550 {
  position:absolute;
  left:760px;
  top:491px;
  width:541px;
  height:187px;
  opacity:0.8;
}
#u38551 {
  position:absolute;
  left:2px;
  top:86px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:78px;
}
#u38552 {
  position:absolute;
  left:14px;
  top:89px;
  width:405px;
  height:78px;
}
#u38553 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u38554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:793px;
}
#u38554 {
  position:absolute;
  left:14px;
  top:170px;
  width:425px;
  height:793px;
}
#u38555 {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  word-wrap:break-word;
}
#u38556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:40px;
}
#u38556 {
  position:absolute;
  left:23px;
  top:1175px;
  width:273px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u38557 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u38558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:321px;
}
#u38558 {
  position:absolute;
  left:23px;
  top:1215px;
  width:407px;
  height:321px;
  font-size:20px;
}
#u38559 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  word-wrap:break-word;
}
#u38560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
}
#u38560 {
  position:absolute;
  left:23px;
  top:1067px;
  width:300px;
  height:28px;
  font-size:20px;
  color:#CC00FF;
}
#u38561 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u38562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u38562 {
  position:absolute;
  left:14px;
  top:19px;
  width:145px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u38563 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u38564_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:150px;
  height:10px;
}
#u38564 {
  position:absolute;
  left:11px;
  top:70px;
  width:145px;
  height:5px;
  color:#008000;
}
#u38565 {
  position:absolute;
  left:2px;
  top:-6px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:1509px;
  background:inherit;
  background-color:rgba(0, 128, 0, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38566 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:1509px;
}
#u38567 {
  position:absolute;
  left:2px;
  top:746px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#008000;
}
#u38568 {
  position:absolute;
  left:473px;
  top:20px;
  width:145px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#008000;
}
#u38569 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u38570_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:150px;
  height:10px;
}
#u38570 {
  position:absolute;
  left:473px;
  top:71px;
  width:145px;
  height:5px;
  color:#FF0000;
}
#u38571 {
  position:absolute;
  left:2px;
  top:-6px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u38572 {
  position:absolute;
  left:548px;
  top:96px;
  width:220px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u38573 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u38574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:3px;
}
#u38574 {
  position:absolute;
  left:473px;
  top:132px;
  width:1020px;
  height:3px;
}
#u38575 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u38576 {
  position:absolute;
  left:483px;
  top:94px;
  width:35px;
  height:33px;
}
#u38577 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u38578 {
  position:absolute;
  left:1447px;
  top:96px;
  width:18px;
  height:20px;
}
#u38579 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:107px;
}
#u38580 {
  position:absolute;
  left:890px;
  top:170px;
  width:187px;
  height:106px;
}
#u38581 {
  position:absolute;
  left:2px;
  top:44px;
  width:183px;
  word-wrap:break-word;
}
#u38582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u38582 {
  position:absolute;
  left:770px;
  top:99px;
  width:97px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u38583 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u38584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38584 {
  position:absolute;
  left:1373px;
  top:182px;
  width:120px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38585 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u38586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38586 {
  position:absolute;
  left:1373px;
  top:133px;
  width:120px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38587 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u38588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u38588 {
  position:absolute;
  left:530px;
  top:96px;
  width:1px;
  height:28px;
}
#u38589 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38590 {
  position:absolute;
  left:710px;
  top:491px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u38591 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u38592_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38592 {
  position:absolute;
  left:770px;
  top:499px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38593 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u38594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u38594 {
  position:absolute;
  left:770px;
  top:544px;
  width:380px;
  height:18px;
  font-size:13px;
  color:#008000;
}
#u38595 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u38596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38596 {
  position:absolute;
  left:1881px;
  top:484px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u38597 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u38598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38598 {
  position:absolute;
  left:710px;
  top:394px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u38599 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u38600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38600 {
  position:absolute;
  left:760px;
  top:688px;
  width:541px;
  height:266px;
  opacity:0.8;
}
#u38601 {
  position:absolute;
  left:2px;
  top:125px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38602 {
  position:absolute;
  left:710px;
  top:688px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u38603 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u38604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38604 {
  position:absolute;
  left:770px;
  top:696px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38605 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u38606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u38606 {
  position:absolute;
  left:770px;
  top:741px;
  width:513px;
  height:84px;
  font-size:13px;
  color:#008000;
}
#u38607 {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  white-space:nowrap;
}
#u38608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u38608 {
  position:absolute;
  left:1160px;
  top:354px;
  width:105px;
  height:40px;
  color:#999999;
}
#u38609 {
  position:absolute;
  left:2px;
  top:11px;
  width:101px;
  word-wrap:break-word;
}
#u38610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u38610 {
  position:absolute;
  left:770px;
  top:566px;
  width:427px;
  height:36px;
  font-size:13px;
  color:#008000;
}
#u38611 {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  word-wrap:break-word;
}
#u38612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38612 {
  position:absolute;
  left:782px;
  top:855px;
  width:179px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38613 {
  position:absolute;
  left:2px;
  top:33px;
  width:175px;
  word-wrap:break-word;
}
#u38614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u38614 {
  position:absolute;
  left:782px;
  top:812px;
  width:19px;
  height:19px;
}
#u38615 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u38616 {
  position:absolute;
  left:801px;
  top:812px;
  width:92px;
  height:18px;
  font-size:13px;
  color:#FF0000;
}
#u38617 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u38618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u38618 {
  position:absolute;
  left:782px;
  top:775px;
  width:19px;
  height:19px;
}
#u38619 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u38620 {
  position:absolute;
  left:801px;
  top:775px;
  width:92px;
  height:18px;
  font-size:13px;
  color:#FF0000;
}
#u38621 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u38622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:18px;
}
#u38622 {
  position:absolute;
  left:770px;
  top:837px;
  width:427px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u38623 {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  word-wrap:break-word;
}
#u38624 {
  position:absolute;
  left:733px;
  top:354px;
  width:131px;
  height:40px;
}
#u38624_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38624_input:disabled {
  color:grayText;
}
#u38625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u38625 {
  position:absolute;
  left:733px;
  top:326px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u38626 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u38627 {
  position:absolute;
  left:1302px;
  top:101px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u38628 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u38629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u38629 {
  position:absolute;
  left:864px;
  top:354px;
  width:286px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u38630 {
  position:absolute;
  left:2px;
  top:11px;
  width:282px;
  word-wrap:break-word;
}
#u38631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u38631 {
  position:absolute;
  left:872px;
  top:364px;
  width:24px;
  height:24px;
}
#u38632 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u38633 {
  position:absolute;
  left:864px;
  top:328px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u38634 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38635 {
  position:absolute;
  left:782px;
  top:630px;
  width:131px;
  height:40px;
}
#u38635_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38635_input:disabled {
  color:grayText;
}
#u38636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u38636 {
  position:absolute;
  left:782px;
  top:602px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u38637 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u38638 {
  position:absolute;
  left:1318px;
  top:71px;
  width:99px;
  height:20px;
  color:#008000;
}
#u38639 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u38640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38640 {
  position:absolute;
  left:1243px;
  top:354px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u38641 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u38642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38642 {
  position:absolute;
  left:1175px;
  top:558px;
  width:96px;
  height:36px;
}
#u38643 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
