﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1026px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:660px;
  width:1003px;
  height:622px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1003px;
  height:622px;
}
#u1 {
  position:absolute;
  left:2px;
  top:303px;
  width:999px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:660px;
  width:1003px;
  height:641px;
  opacity:0.5;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1003px;
  height:641px;
}
#u3 {
  position:absolute;
  left:2px;
  top:312px;
  width:999px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:24px;
  top:142px;
  width:33px;
  height:16px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:156px;
  top:333px;
  width:98px;
  height:42px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:94px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:268px;
  top:347px;
  width:15px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:332px;
  top:347px;
  width:88px;
  height:23px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6699;
  text-align:right;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:63px;
  top:217px;
  width:53px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:332px;
  top:215px;
  width:88px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:63px;
  top:253px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:624px;
  top:462px;
  width:157px;
  height:13px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:13px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:162px;
  top:375px;
  width:10px;
  height:22px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:22px;
}
#u21 {
  position:absolute;
  left:182px;
  top:379px;
  width:118px;
  height:13px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#008000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:13px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:600px;
  top:378px;
  width:420px;
  height:65px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:223px;
  top:18px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:10px;
  top:10px;
  width:78px;
  height:30px;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:900px;
  top:18px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:313px;
  top:18px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:850px;
  top:12px;
  width:24px;
  height:24px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:143px;
  top:18px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:0px;
  top:60px;
  width:1026px;
  height:43px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:43px;
}
#u41 {
  position:absolute;
  left:2px;
  top:14px;
  width:1022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:24px;
  top:71px;
  width:192px;
  height:15px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:0px;
  top:171px;
  width:1002px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:985px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1002px;
  height:1px;
}
#u45 {
  position:absolute;
  left:63px;
  top:297px;
  width:82px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:13px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:87px;
  top:143px;
  width:288px;
  height:18px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:178px;
  top:253px;
  width:108px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:14px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:176px;
  top:293px;
  width:78px;
  height:16px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:330px;
  top:253px;
  width:90px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:14px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:332px;
  top:293px;
  width:90px;
  height:17px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:17px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:178px;
  top:218px;
  width:58px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:63px;
  top:277px;
  width:359px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:342px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:4px;
  width:359px;
  height:2px;
}
#u60 {
  position:absolute;
  left:63px;
  top:349px;
  width:82px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:13px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:156px;
  top:426px;
  width:191px;
  height:54px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:54px;
}
#u63 {
  position:absolute;
  left:2px;
  top:19px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:63px;
  top:540px;
  width:127px;
  height:50px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:50px;
}
#u64_img.mouseOver {
}
#u64.mouseOver {
}
#u65 {
  position:absolute;
  left:2px;
  top:18px;
  width:123px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:510px;
  width:1002px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:985px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1002px;
  height:1px;
}
#u67 {
  position:absolute;
  left:274px;
  top:839px;
  width:446px;
  height:263px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:263px;
}
#u68 {
  position:absolute;
  left:2px;
  top:124px;
  width:442px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:426px;
  top:881px;
  width:141px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:327px;
  top:945px;
  width:339px;
  height:18px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:396px;
  top:1003px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u74 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:63px;
  top:1330px;
  width:497px;
  height:60px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#008000;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:60px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:63px;
  top:447px;
  width:82px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:13px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:960px;
  top:140px;
  width:24px;
  height:24px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:114px;
  top:616px;
  width:24px;
  height:24px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u82 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:600px;
  top:456px;
  width:24px;
  height:24px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u84 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
