﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1002px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:50px;
  width:1002px;
  height:730px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:730px;
}
#u1 {
  position:absolute;
  left:2px;
  top:357px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:184px;
  top:100px;
  width:591px;
  height:540px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:540px;
}
#u3 {
  position:absolute;
  left:2px;
  top:262px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:184px;
  top:384px;
  width:591px;
  height:256px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:256px;
}
#u5 {
  position:absolute;
  left:2px;
  top:120px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:223px;
  top:18px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:10px;
  top:10px;
  width:78px;
  height:30px;
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:900px;
  top:18px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:313px;
  top:18px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:850px;
  top:12px;
  width:24px;
  height:24px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:143px;
  top:18px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:428px;
  top:180px;
  width:87px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:13px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:326px;
  top:260px;
  width:308px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:380px;
  top:310px;
  width:187px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:40px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:2px;
  top:14px;
  width:183px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:288px;
  top:430px;
  width:366px;
  height:120px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:120px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:410px;
  top:320px;
  width:30px;
  height:21px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:288px;
  top:577px;
  width:366px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:13px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:806px;
  top:240px;
  width:196px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
