﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1838px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:126px;
}
#u39462 {
  position:absolute;
  left:418px;
  top:602px;
  width:1113px;
  height:126px;
}
#u39463 {
  position:absolute;
  left:2px;
  top:55px;
  width:1109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u39464 {
  position:absolute;
  left:824px;
  top:163px;
  width:300px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u39465 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  word-wrap:break-word;
}
#u39466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u39466 {
  position:absolute;
  left:824px;
  top:398px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u39466_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u39466.mouseOver {
}
#u39467 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u39468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39468 {
  position:absolute;
  left:698px;
  top:469px;
  width:175px;
  height:18px;
}
#u39469 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u39470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39470 {
  position:absolute;
  left:823px;
  top:469px;
  width:175px;
  height:18px;
}
#u39471 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u39472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39472 {
  position:absolute;
  left:977px;
  top:469px;
  width:175px;
  height:18px;
}
#u39473 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u39474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39474 {
  position:absolute;
  left:1113px;
  top:469px;
  width:175px;
  height:18px;
}
#u39475 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u39476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:1516px;
}
#u39476 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:1516px;
}
#u39477 {
  position:absolute;
  left:2px;
  top:750px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:1509px;
  background:inherit;
  background-color:rgba(0, 128, 0, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39478 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:1509px;
}
#u39479 {
  position:absolute;
  left:2px;
  top:746px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:28px;
}
#u39480 {
  position:absolute;
  left:18px;
  top:22px;
  width:172px;
  height:28px;
  font-size:20px;
}
#u39481 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u39482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:124px;
}
#u39482 {
  position:absolute;
  left:18px;
  top:79px;
  width:414px;
  height:124px;
  font-size:20px;
}
#u39483 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u39484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:23px;
}
#u39484 {
  position:absolute;
  left:18px;
  top:50px;
  width:274px;
  height:23px;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u39485 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u39486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u39486 {
  position:absolute;
  left:656px;
  top:53px;
  width:27px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u39487 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u39488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u39488 {
  position:absolute;
  left:741px;
  top:53px;
  width:30px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u39489 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u39490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u39490 {
  position:absolute;
  left:829px;
  top:51px;
  width:53px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u39491 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:3px;
}
#u39492 {
  position:absolute;
  left:473px;
  top:80px;
  width:1020px;
  height:3px;
}
#u39493 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u39494 {
  position:absolute;
  left:483px;
  top:42px;
  width:35px;
  height:33px;
}
#u39495 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u39496 {
  position:absolute;
  left:1324px;
  top:42px;
  width:24px;
  height:24px;
}
#u39497 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u39498 {
  position:absolute;
  left:1386px;
  top:41px;
  width:24px;
  height:24px;
}
#u39499 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u39500 {
  position:absolute;
  left:1447px;
  top:44px;
  width:18px;
  height:20px;
}
#u39501 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39502_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:59px;
  height:10px;
}
#u39502 {
  position:absolute;
  left:1013px;
  top:77px;
  width:54px;
  height:5px;
}
#u39503 {
  position:absolute;
  left:2px;
  top:-6px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u39504 {
  position:absolute;
  left:942px;
  top:50px;
  width:26px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u39505 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u39506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u39506 {
  position:absolute;
  left:1026px;
  top:50px;
  width:27px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u39507 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u39508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u39508 {
  position:absolute;
  left:571px;
  top:53px;
  width:27px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u39509 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u39510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u39510 {
  position:absolute;
  left:1074px;
  top:22px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u39511 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u39512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u39512 {
  position:absolute;
  left:1491px;
  top:30px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u39513 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u39514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u39514 {
  position:absolute;
  left:1166px;
  top:228px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u39515 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u39516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u39516 {
  position:absolute;
  left:1144px;
  top:404px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u39517 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u39518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39518 {
  position:absolute;
  left:523px;
  top:742px;
  width:512px;
  height:84px;
  opacity:0.8;
}
#u39519 {
  position:absolute;
  left:2px;
  top:34px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u39520 {
  position:absolute;
  left:533px;
  top:750px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u39521 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u39522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u39522 {
  position:absolute;
  left:533px;
  top:795px;
  width:478px;
  height:18px;
  font-size:13px;
  color:#008000;
}
#u39523 {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  word-wrap:break-word;
}
#u39524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u39524 {
  position:absolute;
  left:473px;
  top:738px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u39525 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u39526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39526 {
  position:absolute;
  left:523px;
  top:840px;
  width:512px;
  height:144px;
  opacity:0.8;
}
#u39527 {
  position:absolute;
  left:2px;
  top:64px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u39528 {
  position:absolute;
  left:533px;
  top:848px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u39529 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u39530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#008000;
}
#u39530 {
  position:absolute;
  left:533px;
  top:893px;
  width:391px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#008000;
}
#u39531 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u39532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u39532 {
  position:absolute;
  left:473px;
  top:836px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u39533 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u39534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:511px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39534 {
  position:absolute;
  left:523px;
  top:998px;
  width:512px;
  height:511px;
  opacity:0.8;
}
#u39535 {
  position:absolute;
  left:2px;
  top:248px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u39536 {
  position:absolute;
  left:533px;
  top:1006px;
  width:65px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u39537 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u39538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u39538 {
  position:absolute;
  left:533px;
  top:1041px;
  width:493px;
  height:105px;
  font-size:13px;
  color:#008000;
}
#u39539 {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  word-wrap:break-word;
}
#u39540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u39540 {
  position:absolute;
  left:473px;
  top:994px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u39541 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u39542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u39542 {
  position:absolute;
  left:629px;
  top:1213px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u39542_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u39542.mouseOver {
}
#u39543 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u39544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u39544 {
  position:absolute;
  left:533px;
  top:1298px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u39545 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u39546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u39546 {
  position:absolute;
  left:533px;
  top:1432px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u39547 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u39548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u39548 {
  position:absolute;
  left:533px;
  top:1331px;
  width:478px;
  height:18px;
  font-size:13px;
  color:#008000;
}
#u39549 {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  word-wrap:break-word;
}
#u39550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u39550 {
  position:absolute;
  left:533px;
  top:1350px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u39550_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u39550.mouseOver {
}
#u39551 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u39552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u39552 {
  position:absolute;
  left:533px;
  top:1467px;
  width:478px;
  height:18px;
  font-size:13px;
  color:#008000;
}
#u39553 {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  word-wrap:break-word;
}
#u39554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39554 {
  position:absolute;
  left:1117px;
  top:1043px;
  width:421px;
  height:234px;
}
#u39555 {
  position:absolute;
  left:2px;
  top:109px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u39556 {
  position:absolute;
  left:1124px;
  top:969px;
  width:199px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u39557 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u39558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u39558 {
  position:absolute;
  left:1124px;
  top:1004px;
  width:257px;
  height:20px;
  color:#008000;
}
#u39559 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u39560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u39560 {
  position:absolute;
  left:1124px;
  top:1165px;
  width:407px;
  height:112px;
  color:#999999;
}
#u39561 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  word-wrap:break-word;
}
#u39562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:20px;
}
#u39562 {
  position:absolute;
  left:1124px;
  top:1101px;
  width:394px;
  height:20px;
  font-size:14px;
}
#u39563 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  word-wrap:break-word;
}
#u39564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:22px;
}
#u39564 {
  position:absolute;
  left:1124px;
  top:1069px;
  width:394px;
  height:22px;
  font-size:16px;
  color:#ED6498;
}
#u39565 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  word-wrap:break-word;
}
#u39566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u39566 {
  position:absolute;
  left:629px;
  top:1130px;
  width:173px;
  height:73px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u39567 {
  position:absolute;
  left:2px;
  top:28px;
  width:169px;
  word-wrap:break-word;
}
#u39568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:358px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39568 {
  position:absolute;
  left:1090px;
  top:960px;
  width:513px;
  height:358px;
  opacity:0.2;
}
#u39569 {
  position:absolute;
  left:2px;
  top:171px;
  width:509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#008000;
}
#u39570 {
  position:absolute;
  left:1342px;
  top:1198px;
  width:496px;
  height:17px;
  font-size:12px;
  color:#008000;
}
#u39571 {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  word-wrap:break-word;
}
#u39572 {
  position:absolute;
  left:744px;
  top:1037px;
  width:0px;
  height:0px;
}
#u39572_seg0 {
  position:absolute;
  left:-6px;
  top:-4px;
  width:6px;
  height:8px;
}
#u39572_seg1 {
  position:absolute;
  left:-6px;
  top:-32px;
  width:8px;
  height:36px;
}
#u39572_seg2 {
  position:absolute;
  left:-6px;
  top:-32px;
  width:325px;
  height:8px;
}
#u39572_seg3 {
  position:absolute;
  left:311px;
  top:-32px;
  width:8px;
  height:138px;
}
#u39572_seg4 {
  position:absolute;
  left:311px;
  top:98px;
  width:35px;
  height:8px;
}
#u39572_seg5 {
  position:absolute;
  left:329px;
  top:92px;
  width:21px;
  height:20px;
}
#u39573 {
  position:absolute;
  left:172px;
  top:-36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
