﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1492px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:201px;
  top:170px;
  width:600px;
  height:190px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:190px;
}
#u1 {
  position:absolute;
  left:2px;
  top:87px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:366px;
  top:230px;
  width:270px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:290px;
  top:270px;
  width:454px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#333333;
  line-height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:70px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:210px;
  top:98px;
  width:460px;
  height:49px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#008000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:49px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:940px;
  top:132px;
  width:552px;
  height:260px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:260px;
}
#u9 {
  position:absolute;
  left:2px;
  top:122px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:940px;
  top:113px;
  width:109px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
