﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1785px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38703 {
  position:absolute;
  left:898px;
  top:390px;
  width:114px;
  height:37px;
}
#u38703_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u38704 {
  position:absolute;
  left:1094px;
  top:393px;
  width:371px;
  height:30px;
}
#u38704_input {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u38705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u38705 {
  position:absolute;
  left:1057px;
  top:399px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u38706 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u38707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:284px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38707 {
  position:absolute;
  left:533px;
  top:1101px;
  width:581px;
  height:284px;
  opacity:0.8;
}
#u38708 {
  position:absolute;
  left:2px;
  top:134px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:84px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38709 {
  position:absolute;
  left:479px;
  top:773px;
  width:1014px;
  height:84px;
}
#u38710 {
  position:absolute;
  left:2px;
  top:34px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:1509px;
  background:inherit;
  background-color:rgba(0, 128, 0, 0.109803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38711 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:1509px;
}
#u38712 {
  position:absolute;
  left:2px;
  top:746px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38713 {
  position:absolute;
  left:533px;
  top:1005px;
  width:581px;
  height:89px;
  opacity:0.8;
}
#u38714 {
  position:absolute;
  left:2px;
  top:36px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38715 {
  position:absolute;
  left:533px;
  top:1831px;
  width:581px;
  height:440px;
  opacity:0.8;
}
#u38716 {
  position:absolute;
  left:2px;
  top:212px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38718 {
  position:absolute;
  left:483px;
  top:452px;
  width:129px;
  height:37px;
}
#u38719 {
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u38721 {
  position:absolute;
  left:496px;
  top:460px;
  width:12px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u38722 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u38723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u38723 {
  position:absolute;
  left:509px;
  top:464px;
  width:79px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
#u38724 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u38725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(239, 239, 239, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38725 {
  position:absolute;
  left:479px;
  top:612px;
  width:1014px;
  height:121px;
}
#u38726 {
  position:absolute;
  left:2px;
  top:52px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(239, 239, 239, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38727 {
  position:absolute;
  left:479px;
  top:687px;
  width:1014px;
  height:46px;
}
#u38728 {
  position:absolute;
  left:2px;
  top:15px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38729 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u38730 {
  position:absolute;
  left:714px;
  top:2017px;
  width:107px;
  height:32px;
}
#u38731 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u38732 {
  position:absolute;
  left:724px;
  top:2024px;
  width:85px;
  height:20px;
  font-size:14px;
  color:#FF6699;
}
#u38733 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u38734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u38734 {
  position:absolute;
  left:700px;
  top:2027px;
  width:20px;
  height:13px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u38735 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:78px;
}
#u38736 {
  position:absolute;
  left:24px;
  top:99px;
  width:405px;
  height:78px;
}
#u38737 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u38738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:793px;
}
#u38738 {
  position:absolute;
  left:24px;
  top:183px;
  width:425px;
  height:793px;
}
#u38739 {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  word-wrap:break-word;
}
#u38740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u38740 {
  position:absolute;
  left:24px;
  top:29px;
  width:145px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u38741 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u38742_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:150px;
  height:10px;
}
#u38742 {
  position:absolute;
  left:21px;
  top:80px;
  width:145px;
  height:5px;
  color:#008000;
}
#u38743 {
  position:absolute;
  left:2px;
  top:-6px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u38744 {
  position:absolute;
  left:473px;
  top:161px;
  width:184px;
  height:15px;
  color:#000000;
}
#u38745 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u38746_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1025px;
  height:9px;
}
#u38746 {
  position:absolute;
  left:473px;
  top:233px;
  width:1020px;
  height:4px;
}
#u38747 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#000000;
}
#u38748 {
  position:absolute;
  left:473px;
  top:203px;
  width:96px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#000000;
}
#u38749 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u38750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#008000;
}
#u38750 {
  position:absolute;
  left:473px;
  top:20px;
  width:145px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#008000;
}
#u38751 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u38752_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:150px;
  height:10px;
}
#u38752 {
  position:absolute;
  left:473px;
  top:71px;
  width:145px;
  height:5px;
  color:#FF0000;
}
#u38753 {
  position:absolute;
  left:2px;
  top:-6px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38754 {
  position:absolute;
  left:554px;
  top:264px;
  width:303px;
  height:30px;
}
#u38754_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u38754_input:disabled {
  color:grayText;
}
#u38755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u38755 {
  position:absolute;
  left:483px;
  top:269px;
  width:71px;
  height:18px;
  font-size:13px;
}
#u38756 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u38757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u38757 {
  position:absolute;
  left:496px;
  top:639px;
  width:153px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u38758 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u38759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u38759 {
  position:absolute;
  left:483px;
  top:319px;
  width:101px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u38760 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u38761 {
  position:absolute;
  left:659px;
  top:565px;
  width:208px;
  height:18px;
}
#u38762 {
  position:absolute;
  left:16px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u38761_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u38763 {
  position:absolute;
  left:496px;
  top:702px;
  width:138px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u38764 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u38765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u38765 {
  position:absolute;
  left:644px;
  top:702px;
  width:165px;
  height:18px;
  color:#999999;
}
#u38766 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u38767 {
  position:absolute;
  left:1379px;
  top:644px;
  width:86px;
  height:18px;
}
#u38768 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u38767_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u38769 {
  position:absolute;
  left:1378px;
  top:704px;
  width:87px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u38770 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u38771_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1025px;
  height:10px;
}
#u38771 {
  position:absolute;
  left:473px;
  top:360px;
  width:1020px;
  height:5px;
}
#u38772 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:19px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38773 {
  position:absolute;
  left:483px;
  top:519px;
  width:1010px;
  height:19px;
}
#u38774 {
  position:absolute;
  left:2px;
  top:2px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38775 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u38776 {
  position:absolute;
  left:553px;
  top:1261px;
  width:39px;
  height:18px;
  font-size:13px;
}
#u38777 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u38778 {
  position:absolute;
  left:598px;
  top:1255px;
  width:281px;
  height:30px;
}
#u38778_input {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u38779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u38779 {
  position:absolute;
  left:898px;
  top:1263px;
  width:45px;
  height:18px;
  font-size:13px;
}
#u38780 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u38781 {
  position:absolute;
  left:945px;
  top:1253px;
  width:114px;
  height:37px;
}
#u38781_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u38782 {
  position:absolute;
  left:1164px;
  top:1256px;
  width:371px;
  height:30px;
}
#u38782_input {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u38783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u38783 {
  position:absolute;
  left:1127px;
  top:1262px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u38784 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u38785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u38785 {
  position:absolute;
  left:1545px;
  top:1256px;
  width:25px;
  height:25px;
}
#u38786 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u38787 {
  position:absolute;
  left:496px;
  top:560px;
  width:153px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u38788 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u38789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38789 {
  position:absolute;
  left:483px;
  top:1005px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u38790 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u38791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38791 {
  position:absolute;
  left:543px;
  top:1013px;
  width:154px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38792 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u38793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u38793 {
  position:absolute;
  left:543px;
  top:1058px;
  width:510px;
  height:33px;
  font-size:13px;
  color:#008000;
}
#u38794 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  white-space:nowrap;
}
#u38795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38795 {
  position:absolute;
  left:862px;
  top:254px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u38796 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u38797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38797 {
  position:absolute;
  left:833px;
  top:554px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u38798 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u38799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38799 {
  position:absolute;
  left:483px;
  top:1101px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u38800 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u38801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38801 {
  position:absolute;
  left:543px;
  top:1109px;
  width:11px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38802 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  visibility:hidden;
  white-space:nowrap;
}
#u38803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u38803 {
  position:absolute;
  left:543px;
  top:1154px;
  width:560px;
  height:36px;
  font-size:13px;
  color:#008000;
}
#u38804 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u38805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38805 {
  position:absolute;
  left:543px;
  top:1110px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38806 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u38807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38807 {
  position:absolute;
  left:1313px;
  top:795px;
  width:140px;
  height:40px;
}
#u38808 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u38809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38809 {
  position:absolute;
  left:954px;
  top:364px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u38810 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u38811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:426px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38811 {
  position:absolute;
  left:533px;
  top:1395px;
  width:581px;
  height:426px;
  opacity:0.8;
}
#u38812 {
  position:absolute;
  left:2px;
  top:205px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38813 {
  position:absolute;
  left:483px;
  top:1395px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u38814 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u38815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38815 {
  position:absolute;
  left:543px;
  top:1211px;
  width:11px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38816 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  visibility:hidden;
  white-space:nowrap;
}
#u38817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u38817 {
  position:absolute;
  left:543px;
  top:1439px;
  width:311px;
  height:33px;
  font-size:13px;
  color:#008000;
}
#u38818 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  white-space:nowrap;
}
#u38819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38819 {
  position:absolute;
  left:543px;
  top:1404px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38820 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u38821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u38821 {
  position:absolute;
  left:543px;
  top:1530px;
  width:77px;
  height:18px;
  font-size:13px;
  color:#008000;
}
#u38822 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u38823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38823 {
  position:absolute;
  left:543px;
  top:1495px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38824 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u38825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:36px;
}
#u38825 {
  position:absolute;
  left:613px;
  top:1530px;
  width:475px;
  height:36px;
}
#u38826 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u38827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u38827 {
  position:absolute;
  left:543px;
  top:1576px;
  width:376px;
  height:18px;
  font-size:13px;
  color:#008000;
}
#u38828 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  white-space:nowrap;
}
#u38829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38829 {
  position:absolute;
  left:1128px;
  top:795px;
  width:140px;
  height:40px;
}
#u38830 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u38831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u38832 {
  position:absolute;
  left:604px;
  top:1691px;
  width:65px;
  height:28px;
  font-size:14px;
  text-align:left;
}
#u38833 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u38834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u38834 {
  position:absolute;
  left:585px;
  top:1723px;
  width:112px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u38835 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u38836 {
  position:absolute;
  left:558px;
  top:1695px;
  width:46px;
  height:18px;
}
#u38837 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u38836_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38838 {
  position:absolute;
  left:669px;
  top:1692px;
  width:73px;
  height:22px;
}
#u38839 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u38840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u38840 {
  position:absolute;
  left:577px;
  top:1741px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u38841 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u38842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u38843 {
  position:absolute;
  left:879px;
  top:1691px;
  width:65px;
  height:28px;
  font-size:14px;
  text-align:left;
}
#u38844 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u38845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u38845 {
  position:absolute;
  left:860px;
  top:1723px;
  width:112px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u38846 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u38847 {
  position:absolute;
  left:833px;
  top:1695px;
  width:46px;
  height:18px;
}
#u38848 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u38847_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38849 {
  position:absolute;
  left:944px;
  top:1692px;
  width:73px;
  height:22px;
}
#u38850 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u38851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0000;
}
#u38851 {
  position:absolute;
  left:852px;
  top:1741px;
  width:107px;
  height:18px;
  font-size:13px;
  color:#FF0000;
}
#u38852 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u38853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u38854 {
  position:absolute;
  left:559px;
  top:1741px;
  width:18px;
  height:18px;
}
#u38855 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u38856 {
  position:absolute;
  left:556px;
  top:1737px;
  width:26px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u38857 {
  position:absolute;
  left:0px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u38858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u38859 {
  position:absolute;
  left:829px;
  top:1741px;
  width:18px;
  height:18px;
}
#u38860 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u38861 {
  position:absolute;
  left:826px;
  top:1737px;
  width:26px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u38862 {
  position:absolute;
  left:0px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u38863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:36px;
}
#u38863 {
  position:absolute;
  left:547px;
  top:1655px;
  width:513px;
  height:36px;
  color:#008000;
}
#u38864 {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  word-wrap:break-word;
}
#u38865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u38866 {
  position:absolute;
  left:602px;
  top:1597px;
  width:65px;
  height:28px;
  font-size:14px;
  text-align:left;
}
#u38867 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u38868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u38868 {
  position:absolute;
  left:583px;
  top:1629px;
  width:112px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u38869 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u38870 {
  position:absolute;
  left:556px;
  top:1601px;
  width:46px;
  height:18px;
}
#u38871 {
  position:absolute;
  left:16px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u38870_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38872 {
  position:absolute;
  left:667px;
  top:1598px;
  width:104px;
  height:23px;
}
#u38873 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u38874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38874 {
  position:absolute;
  left:543px;
  top:2075px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38875 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u38876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38876 {
  position:absolute;
  left:833px;
  top:633px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u38877 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u38878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38878 {
  position:absolute;
  left:483px;
  top:1831px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u38879 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u38880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38880 {
  position:absolute;
  left:543px;
  top:1935px;
  width:11px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38881 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  visibility:hidden;
  white-space:nowrap;
}
#u38882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u38882 {
  position:absolute;
  left:543px;
  top:2110px;
  width:77px;
  height:18px;
  font-size:13px;
  color:#008000;
}
#u38883 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u38884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:36px;
}
#u38884 {
  position:absolute;
  left:613px;
  top:2110px;
  width:475px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38885 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u38886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u38886 {
  position:absolute;
  left:543px;
  top:2156px;
  width:332px;
  height:69px;
  font-size:13px;
  color:#008000;
}
#u38887 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  white-space:nowrap;
}
#u38888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38888 {
  position:absolute;
  left:1453px;
  top:764px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u38889 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u38890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u38890 {
  position:absolute;
  left:543px;
  top:1879px;
  width:363px;
  height:18px;
  font-size:13px;
  color:#008000;
}
#u38891 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  white-space:nowrap;
}
#u38892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38892 {
  position:absolute;
  left:543px;
  top:1844px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38893 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u38894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u38894 {
  position:absolute;
  left:543px;
  top:1963px;
  width:298px;
  height:54px;
  font-size:13px;
  color:#008000;
}
#u38895 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  white-space:nowrap;
}
#u38896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38896 {
  position:absolute;
  left:543px;
  top:1928px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38897 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u38898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u38898 {
  position:absolute;
  left:556px;
  top:2026px;
  width:138px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u38899 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u38900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u38900 {
  position:absolute;
  left:851px;
  top:1981px;
  width:165px;
  height:18px;
  color:#999999;
}
#u38901 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u38902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38902 {
  position:absolute;
  left:1204px;
  top:1005px;
  width:581px;
  height:171px;
  opacity:0.8;
}
#u38903 {
  position:absolute;
  left:2px;
  top:78px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u38904 {
  position:absolute;
  left:1154px;
  top:1005px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#008000;
}
#u38905 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u38906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38906 {
  position:absolute;
  left:1214px;
  top:1013px;
  width:65px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u38907 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u38908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u38908 {
  position:absolute;
  left:1214px;
  top:1058px;
  width:543px;
  height:36px;
  font-size:13px;
  color:#008000;
}
#u38909 {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  word-wrap:break-word;
}
#u38910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u38910 {
  position:absolute;
  left:564px;
  top:1194px;
  width:261px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u38911 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u38912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u38913 {
  position:absolute;
  left:546px;
  top:1194px;
  width:18px;
  height:18px;
}
#u38914 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u38915 {
  position:absolute;
  left:543px;
  top:1190px;
  width:26px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u38916 {
  position:absolute;
  left:0px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u38917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:18px;
}
#u38917 {
  position:absolute;
  left:547px;
  top:1764px;
  width:513px;
  height:18px;
  color:#008000;
}
#u38918 {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  word-wrap:break-word;
}
#u38919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u38919 {
  position:absolute;
  left:585px;
  top:1790px;
  width:131px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u38920 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u38921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u38922 {
  position:absolute;
  left:562px;
  top:1790px;
  width:18px;
  height:18px;
}
#u38923 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u38924 {
  position:absolute;
  left:559px;
  top:1786px;
  width:26px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u38925 {
  position:absolute;
  left:0px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u38926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u38926 {
  position:absolute;
  left:1214px;
  top:1094px;
  width:140px;
  height:40px;
  color:#999999;
}
#u38927 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u38928 {
  position:absolute;
  left:656px;
  top:2215px;
  width:86px;
  height:18px;
  color:#999999;
}
#u38929 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u38928_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u38930 {
  position:absolute;
  left:583px;
  top:2233px;
  width:159px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u38931 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u38932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38932 {
  position:absolute;
  left:656px;
  top:2217px;
  width:14px;
  height:14px;
}
#u38933 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:245px;
}
#u38934 {
  position:absolute;
  left:24px;
  top:1002px;
  width:335px;
  height:245px;
  font-size:16px;
}
#u38935 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u38936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
}
#u38936 {
  position:absolute;
  left:24px;
  top:976px;
  width:141px;
  height:28px;
  font-size:20px;
  color:#FF0000;
}
#u38937 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u38938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u38938 {
  position:absolute;
  left:1503px;
  top:805px;
  width:141px;
  height:20px;
  color:#008000;
}
#u38939 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u38940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u38940 {
  position:absolute;
  left:1214px;
  top:1144px;
  width:560px;
  height:18px;
  font-size:13px;
  color:#008000;
}
#u38941 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u38942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u38942 {
  position:absolute;
  left:543px;
  top:1217px;
  width:560px;
  height:36px;
  font-size:13px;
  color:#008000;
}
#u38943 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u38944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u38945 {
  position:absolute;
  left:553px;
  top:1308px;
  width:39px;
  height:18px;
  font-size:13px;
}
#u38946 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u38947 {
  position:absolute;
  left:598px;
  top:1302px;
  width:281px;
  height:30px;
}
#u38947_input {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u38948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u38948 {
  position:absolute;
  left:898px;
  top:1310px;
  width:45px;
  height:18px;
  font-size:13px;
}
#u38949 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u38950 {
  position:absolute;
  left:945px;
  top:1300px;
  width:114px;
  height:37px;
}
#u38950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u38951 {
  position:absolute;
  left:1164px;
  top:1303px;
  width:371px;
  height:30px;
}
#u38951_input {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u38952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u38952 {
  position:absolute;
  left:1127px;
  top:1309px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u38953 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u38954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u38954 {
  position:absolute;
  left:1545px;
  top:1303px;
  width:25px;
  height:25px;
}
#u38955 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u38956 {
  position:absolute;
  left:548px;
  top:96px;
  width:220px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u38957 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u38958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:3px;
}
#u38958 {
  position:absolute;
  left:473px;
  top:132px;
  width:1020px;
  height:3px;
}
#u38959 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u38960 {
  position:absolute;
  left:483px;
  top:94px;
  width:35px;
  height:33px;
}
#u38961 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u38962 {
  position:absolute;
  left:1447px;
  top:96px;
  width:18px;
  height:20px;
}
#u38963 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u38964 {
  position:absolute;
  left:770px;
  top:99px;
  width:97px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u38965 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u38966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u38966 {
  position:absolute;
  left:530px;
  top:96px;
  width:1px;
  height:28px;
}
#u38967 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u38968 {
  position:absolute;
  left:1313px;
  top:97px;
  width:92px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u38969 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u38970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#008000;
}
#u38970 {
  position:absolute;
  left:543px;
  top:1344px;
  width:560px;
  height:18px;
  font-size:13px;
  color:#008000;
}
#u38971 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u38972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38972 {
  position:absolute;
  left:516px;
  top:1344px;
  width:331px;
  height:47px;
}
#u38973 {
  position:absolute;
  left:2px;
  top:16px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u38974 {
  position:absolute;
  left:483px;
  top:398px;
  width:39px;
  height:18px;
  font-size:13px;
}
#u38975 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u38976 {
  position:absolute;
  left:528px;
  top:392px;
  width:248px;
  height:30px;
}
#u38976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u38977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u38977 {
  position:absolute;
  left:843px;
  top:398px;
  width:45px;
  height:18px;
  font-size:13px;
}
#u38978 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u38979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u38979 {
  position:absolute;
  left:770px;
  top:396px;
  width:45px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u38980 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
