﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1002px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:1040px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.67843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22481 {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:1040px;
}
#u22482 {
  position:absolute;
  left:2px;
  top:512px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:492px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22483 {
  position:absolute;
  left:190px;
  top:98px;
  width:560px;
  height:492px;
}
#u22484 {
  position:absolute;
  left:2px;
  top:238px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:248px;
}
#u22485 {
  position:absolute;
  left:230px;
  top:212px;
  width:490px;
  height:248px;
}
#u22486 {
  position:absolute;
  left:2px;
  top:116px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:69px;
}
#u22487 {
  position:absolute;
  left:230px;
  top:336px;
  width:480px;
  height:69px;
}
#u22488 {
  position:absolute;
  left:2px;
  top:26px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u22489 {
  position:absolute;
  left:370px;
  top:555px;
  width:264px;
  height:57px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u22490 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u22491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22491 {
  position:absolute;
  left:230px;
  top:190px;
  width:105px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22492 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u22493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u22493 {
  position:absolute;
  left:730px;
  top:98px;
  width:20px;
  height:20px;
}
#u22494 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:2px;
}
#u22495 {
  position:absolute;
  left:249px;
  top:277px;
  width:461px;
  height:1px;
}
#u22496 {
  position:absolute;
  left:2px;
  top:-8px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22497_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:115px;
}
#u22497 {
  position:absolute;
  left:713px;
  top:281px;
  width:4px;
  height:110px;
}
#u22498 {
  position:absolute;
  left:2px;
  top:47px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u22499 {
  position:absolute;
  left:370px;
  top:495px;
  width:200px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u22500 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u22501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:2px;
}
#u22501 {
  position:absolute;
  left:249px;
  top:336px;
  width:461px;
  height:1px;
}
#u22502 {
  position:absolute;
  left:2px;
  top:-8px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:2px;
}
#u22503 {
  position:absolute;
  left:244px;
  top:403px;
  width:461px;
  height:1px;
}
#u22504 {
  position:absolute;
  left:2px;
  top:-8px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u22505 {
  position:absolute;
  left:292px;
  top:630px;
  width:325px;
  height:57px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u22506 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u22507 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22508 {
  position:absolute;
  left:249px;
  top:294px;
  width:217px;
  height:14px;
}
#u22509 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u22510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
}
#u22510 {
  position:absolute;
  left:457px;
  top:295px;
  width:155px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
}
#u22511 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u22512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u22512 {
  position:absolute;
  left:249px;
  top:312px;
  width:72px;
  height:14px;
  font-size:10px;
  color:#666666;
}
#u22513 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u22514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u22514 {
  position:absolute;
  left:644px;
  top:295px;
  width:58px;
  height:14px;
  font-size:10px;
}
#u22515 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u22516 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u22517 {
  position:absolute;
  left:244px;
  top:354px;
  width:131px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u22518 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u22519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u22519 {
  position:absolute;
  left:456px;
  top:356px;
  width:173px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u22520 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u22521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u22521 {
  position:absolute;
  left:244px;
  top:372px;
  width:72px;
  height:14px;
  font-size:10px;
  color:#FFFFFF;
}
#u22522 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u22523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u22523 {
  position:absolute;
  left:645px;
  top:356px;
  width:58px;
  height:14px;
  font-size:10px;
  color:#FFFFFF;
}
#u22524 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u22525 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22526 {
  position:absolute;
  left:249px;
  top:236px;
  width:217px;
  height:14px;
}
#u22527 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u22528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
}
#u22528 {
  position:absolute;
  left:457px;
  top:237px;
  width:158px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
}
#u22529 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u22530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u22530 {
  position:absolute;
  left:249px;
  top:254px;
  width:72px;
  height:14px;
  font-size:10px;
  color:#666666;
}
#u22531 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u22532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u22532 {
  position:absolute;
  left:644px;
  top:237px;
  width:58px;
  height:14px;
  font-size:10px;
}
#u22533 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u22534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#008000;
}
#u22534 {
  position:absolute;
  left:292px;
  top:665px;
  width:342px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#008000;
}
#u22535 {
  position:absolute;
  left:2px;
  top:14px;
  width:338px;
  word-wrap:break-word;
}
