﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:2192px;
}
#u2488 {
  position:absolute;
  left:5px;
  top:0px;
  width:1045px;
  height:2192px;
}
#u2489 {
  position:absolute;
  left:2px;
  top:1088px;
  width:1041px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u2490 {
  position:absolute;
  left:35px;
  top:2152px;
  width:555px;
  height:73px;
  color:#008000;
}
#u2491 {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  word-wrap:break-word;
}
