﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1002px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:1040px;
}
#u6206 {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:1040px;
}
#u6207 {
  position:absolute;
  left:2px;
  top:512px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:540px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6208 {
  position:absolute;
  left:100px;
  top:120px;
  width:710px;
  height:540px;
}
#u6209 {
  position:absolute;
  left:2px;
  top:262px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6210 {
  position:absolute;
  left:790px;
  top:122px;
  width:20px;
  height:20px;
}
#u6211 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u6212 {
  position:absolute;
  left:140px;
  top:170px;
  width:240px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
}
#u6213 {
  position:absolute;
  left:2px;
  top:14px;
  width:236px;
  word-wrap:break-word;
}
#u6214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:405px;
}
#u6214 {
  position:absolute;
  left:515px;
  top:170px;
  width:1px;
  height:404px;
}
#u6215 {
  position:absolute;
  left:2px;
  top:194px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u6216 {
  position:absolute;
  left:140px;
  top:580px;
  width:100px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u6216_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u6216.mouseOver {
}
#u6217 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6218 {
  position:absolute;
  left:140px;
  top:230px;
  width:240px;
  height:40px;
}
#u6218_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6218_input:disabled {
  color:grayText;
}
#u6219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u6219 {
  position:absolute;
  left:140px;
  top:620px;
  width:360px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u6220 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u6221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u6221 {
  position:absolute;
  left:280px;
  top:592px;
  width:70px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u6222 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u6223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u6224 {
  position:absolute;
  left:590px;
  top:206px;
  width:160px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u6225 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u6226 {
  position:absolute;
  left:560px;
  top:216px;
  width:20px;
  height:16px;
}
#u6227 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6226_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u6229 {
  position:absolute;
  left:590px;
  top:243px;
  width:160px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u6230 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u6231 {
  position:absolute;
  left:560px;
  top:255px;
  width:20px;
  height:16px;
}
#u6232 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6231_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u6234 {
  position:absolute;
  left:590px;
  top:279px;
  width:160px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u6235 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u6236 {
  position:absolute;
  left:560px;
  top:291px;
  width:20px;
  height:16px;
}
#u6237 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6236_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u6239 {
  position:absolute;
  left:590px;
  top:316px;
  width:160px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u6240 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u6241 {
  position:absolute;
  left:560px;
  top:328px;
  width:20px;
  height:16px;
}
#u6242 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6241_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u6244 {
  position:absolute;
  left:590px;
  top:352px;
  width:160px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u6245 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u6246 {
  position:absolute;
  left:560px;
  top:366px;
  width:20px;
  height:16px;
}
#u6247 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6246_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u6248 {
  position:absolute;
  left:560px;
  top:584px;
  width:260px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u6249 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u6250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u6251 {
  position:absolute;
  left:590px;
  top:388px;
  width:160px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u6252 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u6253 {
  position:absolute;
  left:560px;
  top:400px;
  width:20px;
  height:16px;
}
#u6254 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6253_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u6256 {
  position:absolute;
  left:590px;
  top:170px;
  width:160px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u6257 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u6258 {
  position:absolute;
  left:560px;
  top:180px;
  width:20px;
  height:16px;
}
#u6259 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6258_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6260 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u6261 {
  position:absolute;
  left:590px;
  top:425px;
  width:160px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u6262 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u6263 {
  position:absolute;
  left:560px;
  top:437px;
  width:20px;
  height:16px;
}
#u6264 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6263_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6265 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u6266 {
  position:absolute;
  left:590px;
  top:461px;
  width:160px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u6267 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u6268 {
  position:absolute;
  left:560px;
  top:473px;
  width:20px;
  height:16px;
}
#u6269 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6268_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6270 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u6271 {
  position:absolute;
  left:590px;
  top:498px;
  width:160px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u6272 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u6273 {
  position:absolute;
  left:560px;
  top:512px;
  width:20px;
  height:16px;
}
#u6274 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6273_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6275 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u6276 {
  position:absolute;
  left:590px;
  top:534px;
  width:160px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-align:left;
}
#u6277 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  word-wrap:break-word;
}
#u6278 {
  position:absolute;
  left:560px;
  top:546px;
  width:20px;
  height:16px;
}
#u6279 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6278_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u6280 {
  position:absolute;
  left:550px;
  top:146px;
  width:260px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u6281 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
