﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1248px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:298px;
}
#u44671 {
  position:absolute;
  left:292px;
  top:1899px;
  width:271px;
  height:298px;
}
#u44672 {
  position:absolute;
  left:2px;
  top:141px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u44673 {
  position:absolute;
  left:292px;
  top:1637px;
  width:125px;
  height:35px;
}
#u44674 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:733px;
}
#u44675 {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:733px;
}
#u44676 {
  position:absolute;
  left:2px;
  top:358px;
  width:1050px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:630px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44677 {
  position:absolute;
  left:33px;
  top:87px;
  width:910px;
  height:630px;
}
#u44678 {
  position:absolute;
  left:2px;
  top:307px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:401px;
}
#u44679 {
  position:absolute;
  left:73px;
  top:253px;
  width:400px;
  height:400px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u44680 {
  position:absolute;
  left:2px;
  top:194px;
  width:396px;
  word-wrap:break-word;
}
#u44681 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u44682 {
  position:absolute;
  left:432px;
  top:595px;
  width:41px;
  height:41px;
}
#u44683 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44684 {
  position:absolute;
  left:445px;
  top:609px;
  width:20px;
  height:20px;
}
#u44685 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u44686 {
  position:absolute;
  left:391px;
  top:595px;
  width:41px;
  height:41px;
}
#u44687 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44688 {
  position:absolute;
  left:402px;
  top:609px;
  width:20px;
  height:20px;
}
#u44689 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:20px;
}
#u44690 {
  position:absolute;
  left:536px;
  top:323px;
  width:375px;
  height:250px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:20px;
}
#u44691 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u44692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u44692 {
  position:absolute;
  left:73px;
  top:149px;
  width:70px;
  height:70px;
}
#u44693 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  word-wrap:break-word;
}
#u44694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u44694 {
  position:absolute;
  left:153px;
  top:161px;
  width:79px;
  height:15px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u44695 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u44696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44696 {
  position:absolute;
  left:432px;
  top:263px;
  width:26px;
  height:15px;
}
#u44697 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u44698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u44698 {
  position:absolute;
  left:207px;
  top:468px;
  width:156px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u44699 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u44700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u44700 {
  position:absolute;
  left:536px;
  top:592px;
  width:198px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u44701 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u44702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u44702 {
  position:absolute;
  left:536px;
  top:614px;
  width:375px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u44703 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  white-space:nowrap;
}
#u44704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u44704 {
  position:absolute;
  left:627px;
  top:634px;
  width:275px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u44705 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u44706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u44706 {
  position:absolute;
  left:535px;
  top:253px;
  width:180px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u44707 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u44708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u44708 {
  position:absolute;
  left:716px;
  top:253px;
  width:180px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44709 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u44710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u44710 {
  position:absolute;
  left:536px;
  top:290px;
  width:351px;
  height:1px;
}
#u44711 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44712 {
  position:absolute;
  left:536px;
  top:301px;
  width:66px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44713 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u44714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:16px;
}
#u44714 {
  position:absolute;
  left:534px;
  top:566px;
  width:200px;
  height:16px;
  font-size:12px;
  line-height:16px;
}
#u44715 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u44716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:41px;
}
#u44716 {
  position:absolute;
  left:13px;
  top:1527px;
  width:1041px;
  height:41px;
  color:#FFFFFF;
}
#u44717 {
  position:absolute;
  left:2px;
  top:12px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u44718 {
  position:absolute;
  left:264px;
  top:1535px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u44719 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u44720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:571px;
}
#u44720 {
  position:absolute;
  left:241px;
  top:1527px;
  width:1px;
  height:570px;
}
#u44721 {
  position:absolute;
  left:2px;
  top:277px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u44722 {
  position:absolute;
  left:43px;
  top:1535px;
  width:61px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u44723 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u44724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u44724 {
  position:absolute;
  left:153px;
  top:191px;
  width:167px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u44725 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u44726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44726 {
  position:absolute;
  left:904px;
  top:100px;
  width:20px;
  height:20px;
}
#u44727 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u44728 {
  position:absolute;
  left:380px;
  top:18px;
  width:222px;
  height:25px;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u44729 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u44730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u44730 {
  position:absolute;
  left:358px;
  top:52px;
  width:274px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u44731 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u44732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44732 {
  position:absolute;
  left:883px;
  top:15px;
  width:53px;
  height:18px;
}
#u44733 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u44734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u44734 {
  position:absolute;
  left:1013px;
  top:15px;
  width:235px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u44735 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u44736 {
  position:absolute;
  left:958px;
  top:28px;
  width:0px;
  height:0px;
}
#u44736_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u44736_seg1 {
  position:absolute;
  left:33px;
  top:-10px;
  width:21px;
  height:20px;
}
#u44737 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:733px;
}
#u44738 {
  position:absolute;
  left:0px;
  top:758px;
  width:1054px;
  height:733px;
}
#u44739 {
  position:absolute;
  left:2px;
  top:358px;
  width:1050px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u44740 {
  position:absolute;
  left:380px;
  top:776px;
  width:222px;
  height:25px;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u44741 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u44742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u44742 {
  position:absolute;
  left:360px;
  top:810px;
  width:274px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u44743 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u44744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44744 {
  position:absolute;
  left:29px;
  top:783px;
  width:65px;
  height:18px;
}
#u44745 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u44746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u44746 {
  position:absolute;
  left:159px;
  top:783px;
  width:235px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u44747 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u44748 {
  position:absolute;
  left:104px;
  top:796px;
  width:0px;
  height:0px;
}
#u44748_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u44748_seg1 {
  position:absolute;
  left:33px;
  top:-10px;
  width:21px;
  height:20px;
}
#u44749 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:590px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44750 {
  position:absolute;
  left:36px;
  top:854px;
  width:910px;
  height:590px;
}
#u44751 {
  position:absolute;
  left:2px;
  top:287px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:401px;
}
#u44752 {
  position:absolute;
  left:76px;
  top:980px;
  width:400px;
  height:400px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u44753 {
  position:absolute;
  left:2px;
  top:194px;
  width:396px;
  word-wrap:break-word;
}
#u44754 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u44755 {
  position:absolute;
  left:435px;
  top:1339px;
  width:41px;
  height:41px;
}
#u44756 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44757 {
  position:absolute;
  left:448px;
  top:1353px;
  width:20px;
  height:20px;
}
#u44758 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u44759 {
  position:absolute;
  left:394px;
  top:1339px;
  width:41px;
  height:41px;
}
#u44760 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44761 {
  position:absolute;
  left:405px;
  top:1353px;
  width:20px;
  height:20px;
}
#u44762 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u44763 {
  position:absolute;
  left:76px;
  top:876px;
  width:70px;
  height:70px;
}
#u44764 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  word-wrap:break-word;
}
#u44765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u44765 {
  position:absolute;
  left:156px;
  top:888px;
  width:79px;
  height:15px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u44766 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u44767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44767 {
  position:absolute;
  left:435px;
  top:990px;
  width:26px;
  height:15px;
}
#u44768 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u44769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u44769 {
  position:absolute;
  left:210px;
  top:1195px;
  width:156px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u44770 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u44771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u44771 {
  position:absolute;
  left:156px;
  top:918px;
  width:167px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u44772 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u44773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44773 {
  position:absolute;
  left:905px;
  top:864px;
  width:20px;
  height:20px;
}
#u44774 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u44775 {
  position:absolute;
  left:534px;
  top:980px;
  width:180px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u44776 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u44777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:38px;
}
#u44777 {
  position:absolute;
  left:715px;
  top:981px;
  width:180px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u44778 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u44779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u44779 {
  position:absolute;
  left:535px;
  top:1017px;
  width:351px;
  height:1px;
}
#u44780 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44781 {
  position:absolute;
  left:545px;
  top:1032px;
  width:53px;
  height:18px;
}
#u44782 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u44783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u44783 {
  position:absolute;
  left:597px;
  top:1112px;
  width:78px;
  height:15px;
  color:#999999;
}
#u44784 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u44785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u44785 {
  position:absolute;
  left:597px;
  top:1154px;
  width:72px;
  height:15px;
  color:#999999;
}
#u44786 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u44787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u44787 {
  position:absolute;
  left:597px;
  top:1070px;
  width:112px;
  height:15px;
  color:#999999;
}
#u44788 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u44789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u44789 {
  position:absolute;
  left:597px;
  top:1195px;
  width:64px;
  height:15px;
  color:#999999;
}
#u44790 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u44791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u44791 {
  position:absolute;
  left:795px;
  top:1348px;
  width:62px;
  height:15px;
  color:#999999;
}
#u44792 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u44793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u44793 {
  position:absolute;
  left:795px;
  top:1288px;
  width:48px;
  height:18px;
  color:#999999;
}
#u44794 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u44795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u44795 {
  position:absolute;
  left:598px;
  top:1351px;
  width:64px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u44796 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u44797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44797 {
  position:absolute;
  left:548px;
  top:1260px;
  width:53px;
  height:18px;
}
#u44798 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u44799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u44799 {
  position:absolute;
  left:741px;
  top:1288px;
  width:30px;
  height:28px;
}
#u44800 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u44801 {
  position:absolute;
  left:741px;
  top:1346px;
  width:33px;
  height:30px;
}
#u44802 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u44803 {
  position:absolute;
  left:546px;
  top:1351px;
  width:25px;
  height:25px;
}
#u44804 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u44805 {
  position:absolute;
  left:598px;
  top:1290px;
  width:48px;
  height:18px;
  color:#999999;
}
#u44806 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u44807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u44807 {
  position:absolute;
  left:535px;
  top:1316px;
  width:56px;
  height:16px;
  font-size:11px;
  color:#999999;
}
#u44808 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u44809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u44809 {
  position:absolute;
  left:548px;
  top:1070px;
  width:24px;
  height:24px;
}
#u44810 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u44811 {
  position:absolute;
  left:548px;
  top:1108px;
  width:24px;
  height:24px;
}
#u44812 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u44813 {
  position:absolute;
  left:552px;
  top:1195px;
  width:18px;
  height:18px;
}
#u44814 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u44815 {
  position:absolute;
  left:548px;
  top:1150px;
  width:24px;
  height:24px;
}
#u44816 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u44817 {
  position:absolute;
  left:548px;
  top:1282px;
  width:28px;
  height:28px;
}
#u44818 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u44819 {
  position:absolute;
  left:770px;
  top:903px;
  width:125px;
  height:35px;
}
#u44820 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u44821 {
  position:absolute;
  left:780px;
  top:167px;
  width:125px;
  height:35px;
}
#u44822 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u44823 {
  position:absolute;
  left:866px;
  top:136px;
  width:30px;
  height:30px;
  opacity:0.200000002980232;
  font-size:20px;
  color:#000000;
}
#u44824 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u44825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u44825 {
  position:absolute;
  left:29px;
  top:1589px;
  width:30px;
  height:30px;
  opacity:0.200000002980232;
  font-size:20px;
  color:#000000;
}
#u44826 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u44827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u44827 {
  position:absolute;
  left:87px;
  top:1597px;
  width:132px;
  height:18px;
  color:#008000;
}
#u44828 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u44829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u44829 {
  position:absolute;
  left:292px;
  top:1597px;
  width:228px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u44830 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u44831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u44831 {
  position:absolute;
  left:305px;
  top:1663px;
  width:24px;
  height:24px;
}
#u44832 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:49px;
}
#u44833 {
  position:absolute;
  left:370px;
  top:1750px;
  width:366px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44834 {
  position:absolute;
  left:2px;
  top:16px;
  width:362px;
  word-wrap:break-word;
}
#u44835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u44835 {
  position:absolute;
  left:655px;
  top:2116px;
  width:264px;
  height:28px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u44836 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u44837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FF0000;
}
#u44837 {
  position:absolute;
  left:563px;
  top:2072px;
  width:34px;
  height:147px;
  opacity:0.200000002980232;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FF0000;
}
#u44838 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u44839 {
  position:absolute;
  left:613px;
  top:2134px;
  width:0px;
  height:0px;
}
#u44839_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u44839_seg1 {
  position:absolute;
  left:7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u44840 {
  position:absolute;
  left:-38px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u44841 {
  position:absolute;
  left:29px;
  top:1884px;
  width:30px;
  height:30px;
  opacity:0.200000002980232;
  font-size:20px;
  color:#000000;
}
#u44842 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u44843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u44843 {
  position:absolute;
  left:292px;
  top:1869px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u44844 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u44845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:2px;
}
#u44845 {
  position:absolute;
  left:29px;
  top:1848px;
  width:1041px;
  height:1px;
}
#u44846 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u44847 {
  position:absolute;
  left:87px;
  top:1627px;
  width:125px;
  height:35px;
}
#u44848 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u44849 {
  position:absolute;
  left:370px;
  top:1663px;
  width:24px;
  height:24px;
}
#u44850 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u44851 {
  position:absolute;
  left:87px;
  top:1884px;
  width:99px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u44852 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u44853_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:92px;
}
#u44853 {
  position:absolute;
  left:65px;
  top:0px;
  width:4px;
  height:87px;
}
#u44854 {
  position:absolute;
  left:2px;
  top:36px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u44855 {
  position:absolute;
  left:85px;
  top:34px;
  width:235px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u44856 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u44857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u44857 {
  position:absolute;
  left:770px;
  top:1043px;
  width:30px;
  height:30px;
  opacity:0.200000002980232;
  font-size:20px;
  color:#000000;
}
#u44858 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u44859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44859 {
  position:absolute;
  left:300px;
  top:1750px;
  width:20px;
  height:20px;
}
#u44860 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u44861 {
  position:absolute;
  left:300px;
  top:1763px;
  width:24px;
  height:24px;
}
#u44862 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u44863 {
  position:absolute;
  left:292px;
  top:1720px;
  width:306px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u44864 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  white-space:nowrap;
}
#u44865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u44865 {
  position:absolute;
  left:87px;
  top:1719px;
  width:200px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u44866 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u44867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44867 {
  position:absolute;
  left:87px;
  top:1749px;
  width:20px;
  height:20px;
}
#u44868 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:49px;
}
#u44869 {
  position:absolute;
  left:470px;
  top:1638px;
  width:366px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44870 {
  position:absolute;
  left:2px;
  top:16px;
  width:362px;
  word-wrap:break-word;
}
