﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1025px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17589 {
  position:absolute;
  left:6px;
  top:718px;
  width:665px;
  height:60px;
  opacity:0.200000002980232;
}
#u17590 {
  position:absolute;
  left:2px;
  top:22px;
  width:661px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:293px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17591 {
  position:absolute;
  left:6px;
  top:398px;
  width:452px;
  height:293px;
  opacity:0.200000002980232;
}
#u17592 {
  position:absolute;
  left:2px;
  top:138px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17593 {
  position:absolute;
  left:624px;
  top:229px;
  width:61px;
  height:26px;
}
#u17594 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u17595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:56px;
}
#u17595 {
  position:absolute;
  left:6px;
  top:827px;
  width:1019px;
  height:56px;
}
#u17596 {
  position:absolute;
  left:2px;
  top:20px;
  width:1015px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17597 {
  position:absolute;
  left:489px;
  top:336px;
  width:53px;
  height:18px;
}
#u17598 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17599 {
  position:absolute;
  left:600px;
  top:846px;
  width:71px;
  height:18px;
}
#u17600 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u17601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17601 {
  position:absolute;
  left:396px;
  top:336px;
  width:53px;
  height:18px;
}
#u17602 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17603 {
  position:absolute;
  left:729px;
  top:327px;
  width:53px;
  height:18px;
}
#u17604 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17605 {
  position:absolute;
  left:598px;
  top:336px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17606 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17607 {
  position:absolute;
  left:831px;
  top:327px;
  width:53px;
  height:18px;
}
#u17608 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17609 {
  position:absolute;
  left:737px;
  top:848px;
  width:59px;
  height:18px;
}
#u17610 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u17611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:2px;
}
#u17611 {
  position:absolute;
  left:6px;
  top:827px;
  width:1019px;
  height:1px;
}
#u17612 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1015px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u17613 {
  position:absolute;
  left:666px;
  top:844px;
  width:71px;
  height:18px;
  font-size:16px;
  color:#FF0000;
}
#u17614 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u17615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:52px;
}
#u17615 {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:52px;
}
#u17616 {
  position:absolute;
  left:2px;
  top:18px;
  width:1021px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17617 {
  position:absolute;
  left:11px;
  top:68px;
  width:200px;
  height:18px;
}
#u17618 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u17619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u17619 {
  position:absolute;
  left:11px;
  top:111px;
  width:97px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u17620 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u17621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17621 {
  position:absolute;
  left:17px;
  top:786px;
  width:24px;
  height:24px;
  opacity:0.5;
}
#u17622 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17623 {
  position:absolute;
  left:45px;
  top:792px;
  width:53px;
  height:18px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17624 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17625 {
  position:absolute;
  left:961px;
  top:336px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17626 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u17627_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1007px;
  height:6px;
}
#u17627 {
  position:absolute;
  left:0px;
  top:316px;
  width:1004px;
  height:3px;
}
#u17628 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17629 {
  position:absolute;
  left:898px;
  top:827px;
  width:127px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17630 {
  position:absolute;
  left:2px;
  top:19px;
  width:123px;
  word-wrap:break-word;
}
#u17631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17631 {
  position:absolute;
  left:125px;
  top:786px;
  width:24px;
  height:24px;
  opacity:0.5;
}
#u17632 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u17633 {
  position:absolute;
  left:11px;
  top:290px;
  width:177px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u17634 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u17635_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1007px;
  height:6px;
}
#u17635 {
  position:absolute;
  left:0px;
  top:137px;
  width:1004px;
  height:3px;
}
#u17636 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17637 {
  position:absolute;
  left:153px;
  top:792px;
  width:53px;
  height:18px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17638 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u17639 {
  position:absolute;
  left:0px;
  top:153px;
  width:98px;
  height:98px;
}
#u17640 {
  position:absolute;
  left:2px;
  top:41px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u17641 {
  position:absolute;
  left:125px;
  top:153px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u17642 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17643 {
  position:absolute;
  left:200px;
  top:160px;
  width:75px;
  height:15px;
}
#u17644 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u17645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:2px;
}
#u17645 {
  position:absolute;
  left:125px;
  top:180px;
  width:879px;
  height:1px;
}
#u17646 {
  position:absolute;
  left:2px;
  top:-8px;
  width:875px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:2px;
}
#u17647 {
  position:absolute;
  left:125px;
  top:214px;
  width:879px;
  height:1px;
}
#u17648 {
  position:absolute;
  left:2px;
  top:-8px;
  width:875px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17649 {
  position:absolute;
  left:173px;
  top:233px;
  width:126px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17650 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u17651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u17651 {
  position:absolute;
  left:125px;
  top:229px;
  width:27px;
  height:26px;
}
#u17652 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17653 {
  position:absolute;
  left:125px;
  top:191px;
  width:126px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17654 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u17655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17655 {
  position:absolute;
  left:649px;
  top:194px;
  width:60px;
  height:15px;
}
#u17656 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u17657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17657 {
  position:absolute;
  left:724px;
  top:194px;
  width:60px;
  height:15px;
}
#u17658 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u17659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17659 {
  position:absolute;
  left:802px;
  top:194px;
  width:60px;
  height:15px;
}
#u17660 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u17661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17661 {
  position:absolute;
  left:906px;
  top:191px;
  width:98px;
  height:18px;
}
#u17662 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u17663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u17663 {
  position:absolute;
  left:817px;
  top:348px;
  width:91px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u17664 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u17665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u17665 {
  position:absolute;
  left:709px;
  top:348px;
  width:91px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u17666 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u17667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17667 {
  position:absolute;
  left:918px;
  top:234px;
  width:57px;
  height:15px;
}
#u17668 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u17669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17669 {
  position:absolute;
  left:703px;
  top:229px;
  width:61px;
  height:26px;
}
#u17670 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u17671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17671 {
  position:absolute;
  left:774px;
  top:229px;
  width:61px;
  height:26px;
}
#u17672 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u17673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u17673 {
  position:absolute;
  left:796px;
  top:844px;
  width:71px;
  height:18px;
  font-size:16px;
  color:#FF0000;
}
#u17674 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u17675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u17675 {
  position:absolute;
  left:634px;
  top:902px;
  width:391px;
  height:171px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u17676 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u17677 {
  position:absolute;
  left:61px;
  top:413px;
  width:284px;
  height:22px;
}
#u17677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17677_input:disabled {
  color:grayText;
}
#u17678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17678 {
  position:absolute;
  left:396px;
  top:410px;
  width:37px;
  height:26px;
}
#u17679 {
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  word-wrap:break-word;
}
#u17680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u17680 {
  position:absolute;
  left:475px;
  top:410px;
  width:40px;
  height:26px;
  color:#999999;
}
#u17681 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u17682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:32px;
}
#u17682 {
  position:absolute;
  left:588px;
  top:408px;
  width:72px;
  height:32px;
}
#u17683 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u17684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17684 {
  position:absolute;
  left:967px;
  top:410px;
  width:24px;
  height:24px;
  opacity:0.300000011920929;
}
#u17685 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17686 {
  position:absolute;
  left:396px;
  top:465px;
  width:37px;
  height:26px;
}
#u17687 {
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  word-wrap:break-word;
}
#u17688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u17688 {
  position:absolute;
  left:475px;
  top:469px;
  width:40px;
  height:26px;
  color:#999999;
}
#u17689 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u17690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:32px;
}
#u17690 {
  position:absolute;
  left:588px;
  top:465px;
  width:72px;
  height:32px;
}
#u17691 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u17692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17692 {
  position:absolute;
  left:967px;
  top:467px;
  width:24px;
  height:24px;
  opacity:0.300000011920929;
}
#u17693 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17694 {
  position:absolute;
  left:742px;
  top:415px;
  width:74px;
  height:15px;
}
#u17695 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u17696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17696 {
  position:absolute;
  left:742px;
  top:474px;
  width:39px;
  height:15px;
}
#u17697 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u17698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17698 {
  position:absolute;
  left:834px;
  top:415px;
  width:74px;
  height:18px;
}
#u17699 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u17700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17700 {
  position:absolute;
  left:834px;
  top:474px;
  width:63px;
  height:18px;
}
#u17701 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u17702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:467px;
}
#u17702 {
  position:absolute;
  left:697px;
  top:312px;
  width:1px;
  height:466px;
}
#u17703 {
  position:absolute;
  left:2px;
  top:225px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17704 {
  position:absolute;
  left:598px;
  top:733px;
  width:62px;
  height:27px;
}
#u17705 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u17706 {
  position:absolute;
  left:61px;
  top:736px;
  width:284px;
  height:22px;
}
#u17706_input {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17706_input:disabled {
  color:grayText;
}
#u17707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:28px;
}
#u17707 {
  position:absolute;
  left:6px;
  top:691px;
  width:1008px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17708 {
  position:absolute;
  left:2px;
  top:5px;
  width:1004px;
  word-wrap:break-word;
}
#u17709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:28px;
}
#u17709 {
  position:absolute;
  left:6px;
  top:370px;
  width:1008px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17710 {
  position:absolute;
  left:2px;
  top:5px;
  width:1004px;
  word-wrap:break-word;
}
#u17711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17711 {
  position:absolute;
  left:834px;
  top:742px;
  width:63px;
  height:18px;
}
#u17712 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u17713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:2px;
}
#u17713 {
  position:absolute;
  left:125px;
  top:773px;
  width:885px;
  height:1px;
}
#u17714 {
  position:absolute;
  left:2px;
  top:-8px;
  width:881px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:2px;
}
#u17715 {
  position:absolute;
  left:6px;
  top:452px;
  width:1004px;
  height:1px;
}
#u17716 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:2px;
}
#u17717 {
  position:absolute;
  left:6px;
  top:504px;
  width:1004px;
  height:1px;
}
#u17718 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17719 {
  position:absolute;
  left:17px;
  top:416px;
  width:34px;
  height:18px;
}
#u17720 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u17721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17721 {
  position:absolute;
  left:17px;
  top:472px;
  width:34px;
  height:18px;
}
#u17722 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u17723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17723 {
  position:absolute;
  left:17px;
  top:736px;
  width:34px;
  height:18px;
}
#u17724 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u17725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17725 {
  position:absolute;
  left:966px;
  top:377px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17726 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u17727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17727 {
  position:absolute;
  left:17px;
  top:520px;
  width:24px;
  height:24px;
  opacity:0.5;
}
#u17728 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17729 {
  position:absolute;
  left:45px;
  top:526px;
  width:53px;
  height:18px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17730 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:457px;
}
#u17731 {
  position:absolute;
  left:923px;
  top:322px;
  width:1px;
  height:456px;
}
#u17732 {
  position:absolute;
  left:2px;
  top:220px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:28px;
}
#u17733 {
  position:absolute;
  left:6px;
  top:561px;
  width:1008px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17734 {
  position:absolute;
  left:2px;
  top:5px;
  width:1004px;
  word-wrap:break-word;
}
#u17735 {
  position:absolute;
  left:61px;
  top:604px;
  width:284px;
  height:22px;
}
#u17735_input {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17735_input:disabled {
  color:grayText;
}
#u17736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17736 {
  position:absolute;
  left:396px;
  top:601px;
  width:37px;
  height:26px;
}
#u17737 {
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  word-wrap:break-word;
}
#u17738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u17738 {
  position:absolute;
  left:475px;
  top:601px;
  width:40px;
  height:26px;
  color:#999999;
}
#u17739 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u17740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:32px;
}
#u17740 {
  position:absolute;
  left:588px;
  top:599px;
  width:72px;
  height:32px;
}
#u17741 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u17742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17742 {
  position:absolute;
  left:967px;
  top:601px;
  width:24px;
  height:24px;
  opacity:0.300000011920929;
}
#u17743 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17744 {
  position:absolute;
  left:742px;
  top:606px;
  width:74px;
  height:15px;
}
#u17745 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u17746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17746 {
  position:absolute;
  left:834px;
  top:606px;
  width:74px;
  height:18px;
}
#u17747 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u17748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17748 {
  position:absolute;
  left:17px;
  top:607px;
  width:34px;
  height:18px;
}
#u17749 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u17750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17750 {
  position:absolute;
  left:891px;
  top:376px;
  width:65px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17751 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u17752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17752 {
  position:absolute;
  left:891px;
  top:565px;
  width:65px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17753 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u17754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17754 {
  position:absolute;
  left:966px;
  top:566px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17755 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u17756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17756 {
  position:absolute;
  left:934px;
  top:696px;
  width:65px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17757 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u17758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17758 {
  position:absolute;
  left:17px;
  top:657px;
  width:24px;
  height:24px;
  opacity:0.5;
}
#u17759 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17760 {
  position:absolute;
  left:45px;
  top:663px;
  width:53px;
  height:18px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17761 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17762 {
  position:absolute;
  left:125px;
  top:520px;
  width:24px;
  height:24px;
  opacity:0.5;
}
#u17763 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17764 {
  position:absolute;
  left:153px;
  top:526px;
  width:53px;
  height:18px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17765 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17766 {
  position:absolute;
  left:125px;
  top:657px;
  width:24px;
  height:24px;
  opacity:0.5;
}
#u17767 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17768 {
  position:absolute;
  left:153px;
  top:663px;
  width:53px;
  height:18px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17769 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:2px;
}
#u17770 {
  position:absolute;
  left:6px;
  top:642px;
  width:1004px;
  height:1px;
}
#u17771 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17772 {
  position:absolute;
  left:61px;
  top:470px;
  width:284px;
  height:22px;
}
#u17772_input {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17772_input:disabled {
  color:grayText;
}
#u17773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17773 {
  position:absolute;
  left:967px;
  top:739px;
  width:24px;
  height:24px;
  opacity:0.300000011920929;
}
#u17774 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17775 {
  position:absolute;
  left:625px;
  top:169px;
  width:217px;
  height:96px;
  opacity:0.200000002980232;
}
#u17776 {
  position:absolute;
  left:2px;
  top:40px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17777 {
  position:absolute;
  left:6px;
  top:96px;
  width:119px;
  height:57px;
  opacity:0.200000002980232;
}
#u17778 {
  position:absolute;
  left:2px;
  top:20px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u17779 {
  position:absolute;
  left:11px;
  top:902px;
  width:384px;
  height:136px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u17780 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u17781 {
  position:absolute;
  left:334px;
  top:790px;
  width:0px;
  height:0px;
}
#u17781_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:101px;
}
#u17781_seg1 {
  position:absolute;
  left:-10px;
  top:79px;
  width:20px;
  height:20px;
}
#u17782 {
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17783 {
  position:absolute;
  left:62px;
  top:336px;
  width:102px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17784 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
