﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:778px;
}
#u28005 {
  position:absolute;
  left:548px;
  top:1066px;
  width:1026px;
  height:778px;
}
#u28006 {
  position:absolute;
  left:2px;
  top:381px;
  width:1022px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:847px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28007 {
  position:absolute;
  left:1639px;
  top:268px;
  width:397px;
  height:847px;
}
#u28008 {
  position:absolute;
  left:2px;
  top:416px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:718px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28009 {
  position:absolute;
  left:548px;
  top:136px;
  width:1042px;
  height:718px;
}
#u28010 {
  position:absolute;
  left:2px;
  top:351px;
  width:1038px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:1891px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28011 {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:1891px;
  opacity:0.15;
}
#u28012 {
  position:absolute;
  left:2px;
  top:938px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28013 {
  position:absolute;
  left:22px;
  top:30px;
  width:526px;
  height:70px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28014 {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  white-space:nowrap;
}
#u28015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#008000;
}
#u28015 {
  position:absolute;
  left:576px;
  top:30px;
  width:65px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#008000;
}
#u28016 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u28017 {
  position:absolute;
  left:25px;
  top:150px;
  width:300px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u28018 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u28019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u28019 {
  position:absolute;
  left:25px;
  top:197px;
  width:300px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u28020 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u28021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28021 {
  position:absolute;
  left:22px;
  top:375px;
  width:306px;
  height:98px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28022 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u28023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u28023 {
  position:absolute;
  left:22px;
  top:332px;
  width:300px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u28024 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u28025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u28025 {
  position:absolute;
  left:22px;
  top:570px;
  width:327px;
  height:136px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u28026 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u28027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u28027 {
  position:absolute;
  left:22px;
  top:527px;
  width:300px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u28028 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u28029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u28029 {
  position:absolute;
  left:22px;
  top:810px;
  width:327px;
  height:136px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u28030 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u28031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u28031 {
  position:absolute;
  left:22px;
  top:767px;
  width:300px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u28032 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u28033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u28033 {
  position:absolute;
  left:24px;
  top:1022px;
  width:306px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u28034 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u28035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u28035 {
  position:absolute;
  left:25px;
  top:992px;
  width:300px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u28036 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u28037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:178px;
}
#u28037 {
  position:absolute;
  left:24px;
  top:1073px;
  width:324px;
  height:178px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28038 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u28039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  height:59px;
}
#u28039 {
  position:absolute;
  left:601px;
  top:150px;
  width:827px;
  height:59px;
}
#u28040 {
  position:absolute;
  left:2px;
  top:22px;
  width:823px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:59px;
}
#u28041 {
  position:absolute;
  left:1428px;
  top:150px;
  width:110px;
  height:59px;
}
#u28042 {
  position:absolute;
  left:2px;
  top:22px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:937px;
  height:451px;
}
#u28043 {
  position:absolute;
  left:601px;
  top:344px;
  width:937px;
  height:451px;
}
#u28044 {
  position:absolute;
  left:2px;
  top:218px;
  width:933px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:197px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u28046 {
  position:absolute;
  left:548px;
  top:242px;
  width:52px;
  height:197px;
  font-size:14px;
}
#u28047 {
  position:absolute;
  left:2px;
  top:90px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u28048 {
  position:absolute;
  left:560px;
  top:394px;
  width:23px;
  height:23px;
  font-size:14px;
}
#u28049 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28050 {
  position:absolute;
  left:514px;
  top:314px;
  width:115px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28051 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u28052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u28052 {
  position:absolute;
  left:911px;
  top:164px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u28053 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u28054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:232px;
}
#u28054 {
  position:absolute;
  left:1652px;
  top:635px;
  width:101px;
  height:232px;
}
#u28055 {
  position:absolute;
  left:2px;
  top:108px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u28056 {
  position:absolute;
  left:1600px;
  top:142px;
  width:36px;
  height:36px;
  font-size:16px;
  color:#008000;
}
#u28057 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  word-wrap:break-word;
}
#u28058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28058 {
  position:absolute;
  left:1639px;
  top:142px;
  width:397px;
  height:116px;
}
#u28059 {
  position:absolute;
  left:2px;
  top:50px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u28060 {
  position:absolute;
  left:1652px;
  top:149px;
  width:130px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u28061 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u28062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u28062 {
  position:absolute;
  left:1652px;
  top:189px;
  width:378px;
  height:60px;
  color:#008000;
}
#u28063 {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  word-wrap:break-word;
}
#u28064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u28064 {
  position:absolute;
  left:560px;
  top:427px;
  width:36px;
  height:36px;
  font-size:16px;
  color:#008000;
}
#u28065 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  word-wrap:break-word;
}
#u28066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u28066 {
  position:absolute;
  left:831px;
  top:133px;
  width:36px;
  height:36px;
  font-size:16px;
  color:#008000;
}
#u28067 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  word-wrap:break-word;
}
#u28068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u28068 {
  position:absolute;
  left:1600px;
  top:268px;
  width:36px;
  height:36px;
  font-size:16px;
  color:#008000;
}
#u28069 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  word-wrap:break-word;
}
#u28070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u28070 {
  position:absolute;
  left:1652px;
  top:275px;
  width:37px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u28071 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u28072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u28072 {
  position:absolute;
  left:1652px;
  top:315px;
  width:336px;
  height:20px;
  color:#008000;
}
#u28073 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u28074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:201px;
}
#u28074 {
  position:absolute;
  left:1646px;
  top:345px;
  width:117px;
  height:201px;
}
#u28075 {
  position:absolute;
  left:2px;
  top:92px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u28076 {
  position:absolute;
  left:1652px;
  top:575px;
  width:37px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u28077 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u28078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u28078 {
  position:absolute;
  left:1652px;
  top:610px;
  width:336px;
  height:20px;
  color:#008000;
}
#u28079 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u28080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u28080 {
  position:absolute;
  left:1705px;
  top:639px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u28081 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u28082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u28082 {
  position:absolute;
  left:1735px;
  top:798px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u28083 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u28084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u28084 {
  position:absolute;
  left:1652px;
  top:924px;
  width:336px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u28085 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u28086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u28086 {
  position:absolute;
  left:1657px;
  top:954px;
  width:327px;
  height:136px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u28087 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u28088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u28088 {
  position:absolute;
  left:1115px;
  top:235px;
  width:11px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#008000;
}
#u28089 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  visibility:hidden;
  white-space:nowrap;
}
#u28090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#008000;
}
#u28090 {
  position:absolute;
  left:1126px;
  top:239px;
  width:235px;
  height:50px;
  font-size:18px;
  color:#008000;
}
#u28091 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u28092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:49px;
}
#u28092 {
  position:absolute;
  left:1486px;
  top:150px;
  width:52px;
  height:49px;
}
#u28093 {
  position:absolute;
  left:2px;
  top:16px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#008000;
}
#u28094 {
  position:absolute;
  left:558px;
  top:101px;
  width:292px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#008000;
}
#u28095 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u28096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u28096 {
  position:absolute;
  left:612px;
  top:212px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u28097 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u28098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:48px;
}
#u28098 {
  position:absolute;
  left:585px;
  top:1933px;
  width:842px;
  height:48px;
}
#u28099 {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  word-wrap:break-word;
}
#u28100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  color:#008000;
}
#u28100 {
  position:absolute;
  left:548px;
  top:1014px;
  width:172px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  color:#008000;
}
#u28101 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u28102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:45px;
}
#u28102 {
  position:absolute;
  left:585px;
  top:1780px;
  width:81px;
  height:45px;
}
#u28103 {
  position:absolute;
  left:2px;
  top:14px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:67px;
}
#u28104 {
  position:absolute;
  left:625px;
  top:1825px;
  width:1px;
  height:66px;
}
#u28105 {
  position:absolute;
  left:2px;
  top:25px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28106 {
  position:absolute;
  left:1274px;
  top:655px;
  width:300px;
  height:170px;
}
#u28107 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:170px;
}
#u28108 {
  position:absolute;
  left:1296px;
  top:642px;
  width:242px;
  height:170px;
}
#u28109 {
  position:absolute;
  left:2px;
  top:77px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u28110 {
  position:absolute;
  left:1387px;
  top:753px;
  width:336px;
  height:20px;
  color:#008000;
}
#u28111 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u28112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:2px;
}
#u28112 {
  position:absolute;
  left:612px;
  top:199px;
  width:918px;
  height:1px;
}
#u28113 {
  position:absolute;
  left:2px;
  top:-8px;
  width:914px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:102px;
}
#u28114 {
  position:absolute;
  left:610px;
  top:239px;
  width:86px;
  height:102px;
}
#u28115 {
  position:absolute;
  left:2px;
  top:43px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:102px;
}
#u28116 {
  position:absolute;
  left:706px;
  top:239px;
  width:229px;
  height:102px;
}
#u28117 {
  position:absolute;
  left:2px;
  top:43px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u28118 {
  position:absolute;
  left:530px;
  top:199px;
  width:88px;
  height:40px;
  color:#008000;
}
#u28119 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u28120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:3px;
  background:inherit;
  background-color:rgba(0, 128, 0, 0.356862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28120 {
  position:absolute;
  left:548px;
  top:239px;
  width:52px;
  height:3px;
}
#u28121 {
  position:absolute;
  left:2px;
  top:-6px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:66px;
}
#u28122 {
  position:absolute;
  left:537px;
  top:1059px;
  width:925px;
  height:66px;
}
#u28123 {
  position:absolute;
  left:2px;
  top:25px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:66px;
}
#u28124 {
  position:absolute;
  left:1462px;
  top:1059px;
  width:123px;
  height:66px;
}
#u28125 {
  position:absolute;
  left:2px;
  top:25px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:55px;
}
#u28126 {
  position:absolute;
  left:1527px;
  top:1059px;
  width:58px;
  height:55px;
}
#u28127 {
  position:absolute;
  left:2px;
  top:20px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28128 {
  position:absolute;
  left:1359px;
  top:199px;
  width:136px;
  height:136px;
}
#u28129 {
  position:absolute;
  left:2px;
  top:60px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u28130 {
  position:absolute;
  left:1400px;
  top:212px;
  width:53px;
  height:53px;
}
#u28131 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28132 {
  position:absolute;
  left:1380px;
  top:275px;
  width:93px;
  height:14px;
  font-size:12px;
}
#u28133 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u28134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u28134 {
  position:absolute;
  left:1404px;
  top:309px;
  width:45px;
  height:14px;
  font-size:12px;
}
#u28135 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u28136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u28136 {
  position:absolute;
  left:1474px;
  top:95px;
  width:336px;
  height:20px;
  color:#008000;
}
#u28137 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u28138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u28138 {
  position:absolute;
  left:1474px;
  top:275px;
  width:12px;
  height:12px;
}
#u28139 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28140 {
  position:absolute;
  left:1480px;
  top:275px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u28140_seg0 {
  position:absolute;
  left:-4px;
  top:-157px;
  width:8px;
  height:161px;
}
#u28141 {
  position:absolute;
  left:-50px;
  top:-86px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u28142 {
  position:absolute;
  left:1387px;
  top:335px;
  width:336px;
  height:20px;
  color:#008000;
}
#u28143 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u28144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28144 {
  position:absolute;
  left:593px;
  top:1901px;
  width:65px;
  height:20px;
}
#u28145 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
