﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1002px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29640 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:391px;
}
#u29641 {
  position:absolute;
  left:594px;
  top:240px;
  width:390px;
  height:390px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29642 {
  position:absolute;
  left:2px;
  top:188px;
  width:386px;
  word-wrap:break-word;
}
#u29643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u29643 {
  position:absolute;
  left:934px;
  top:580px;
  width:50px;
  height:50px;
}
#u29644 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u29645 {
  position:absolute;
  left:10px;
  top:100px;
  width:80px;
  height:80px;
}
#u29646 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29647 {
  position:absolute;
  left:10px;
  top:67px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29648 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u29649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u29649 {
  position:absolute;
  left:110px;
  top:115px;
  width:132px;
  height:21px;
  font-size:18px;
}
#u29650 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u29651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29651 {
  position:absolute;
  left:110px;
  top:146px;
  width:69px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29652 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u29653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u29653 {
  position:absolute;
  left:950px;
  top:596px;
  width:24px;
  height:24px;
}
#u29654 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u29655 {
  position:absolute;
  left:884px;
  top:580px;
  width:50px;
  height:50px;
}
#u29656 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u29657 {
  position:absolute;
  left:897px;
  top:596px;
  width:24px;
  height:24px;
}
#u29658 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  line-height:20px;
}
#u29659 {
  position:absolute;
  left:10px;
  top:240px;
  width:499px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  line-height:20px;
}
#u29660 {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u29661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29661 {
  position:absolute;
  left:10px;
  top:390px;
  width:53px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29662 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29663 {
  position:absolute;
  left:10px;
  top:440px;
  width:40px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29664 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u29666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29666 {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:50px;
}
#u29667 {
  position:absolute;
  left:2px;
  top:17px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29668 {
  position:absolute;
  left:223px;
  top:18px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29669 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u29670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u29670 {
  position:absolute;
  left:10px;
  top:10px;
  width:78px;
  height:30px;
  font-size:14px;
}
#u29671 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u29672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29672 {
  position:absolute;
  left:900px;
  top:18px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29673 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u29674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29674 {
  position:absolute;
  left:313px;
  top:18px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29675 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u29676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u29676 {
  position:absolute;
  left:850px;
  top:13px;
  width:24px;
  height:24px;
}
#u29677 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29678 {
  position:absolute;
  left:143px;
  top:18px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29679 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u29680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:730px;
}
#u29680 {
  position:absolute;
  left:0px;
  top:50px;
  width:1002px;
  height:730px;
}
#u29681 {
  position:absolute;
  left:2px;
  top:357px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:470px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29682 {
  position:absolute;
  left:204px;
  top:170px;
  width:591px;
  height:470px;
}
#u29683 {
  position:absolute;
  left:2px;
  top:227px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u29684 {
  position:absolute;
  left:774px;
  top:170px;
  width:21px;
  height:20px;
}
#u29685 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u29686 {
  position:absolute;
  left:436px;
  top:270px;
  width:131px;
  height:13px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u29687 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u29688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u29688 {
  position:absolute;
  left:348px;
  top:144px;
  width:274px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u29689 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u29690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:256px;
}
#u29690 {
  position:absolute;
  left:204px;
  top:384px;
  width:591px;
  height:256px;
}
#u29691 {
  position:absolute;
  left:2px;
  top:120px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u29692 {
  position:absolute;
  left:316px;
  top:430px;
  width:366px;
  height:120px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u29693 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  word-wrap:break-word;
}
#u29694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u29694 {
  position:absolute;
  left:316px;
  top:577px;
  width:366px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u29695 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  word-wrap:break-word;
}
#u29696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u29696 {
  position:absolute;
  left:486px;
  top:304px;
  width:30px;
  height:21px;
}
#u29697 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
