﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1074px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:284px;
}
#u24174 {
  position:absolute;
  left:30px;
  top:43px;
  width:1044px;
  height:284px;
}
#u24175 {
  position:absolute;
  left:2px;
  top:134px;
  width:1040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24176 {
  position:absolute;
  left:346px;
  top:90px;
  width:200px;
  height:50px;
}
#u24177 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  line-height:16px;
}
#u24178 {
  position:absolute;
  left:364px;
  top:100px;
  width:172px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  line-height:16px;
}
#u24179 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u24180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u24180 {
  position:absolute;
  left:526px;
  top:70px;
  width:20px;
  height:20px;
}
#u24181 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u24182 {
  position:absolute;
  left:490px;
  top:30px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u24183 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u24184 {
  position:absolute;
  left:523px;
  top:198px;
  width:20px;
  height:20px;
}
#u24185 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:117px;
}
#u24186 {
  position:absolute;
  left:260px;
  top:53px;
  width:360px;
  height:117px;
}
#u24187 {
  position:absolute;
  left:2px;
  top:50px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u24188 {
  position:absolute;
  left:450px;
  top:180px;
  width:110px;
  height:50px;
}
#u24189 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
