﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44351 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44352 {
  position:absolute;
  left:564px;
  top:580px;
  width:481px;
  height:210px;
}
#u44353 {
  position:absolute;
  left:2px;
  top:97px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:14px;
}
#u44354 {
  position:absolute;
  left:564px;
  top:570px;
  width:481px;
  height:14px;
}
#u44355 {
  position:absolute;
  left:2px;
  top:-1px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44356 {
  position:absolute;
  left:11px;
  top:20px;
  width:526px;
  height:448px;
}
#u44357 {
  position:absolute;
  left:2px;
  top:216px;
  width:522px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44358 {
  position:absolute;
  left:257px;
  top:58px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44359 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u44360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u44360 {
  position:absolute;
  left:316px;
  top:368px;
  width:160px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u44361 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u44362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:58px;
}
#u44362 {
  position:absolute;
  left:55px;
  top:127px;
  width:60px;
  height:57px;
}
#u44363 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44364 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u44365 {
  position:absolute;
  left:145px;
  top:150px;
  width:105px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u44366 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u44367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
}
#u44367 {
  position:absolute;
  left:265px;
  top:173px;
  width:57px;
  height:11px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
}
#u44368 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u44369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#333333;
}
#u44369 {
  position:absolute;
  left:145px;
  top:172px;
  width:110px;
  height:12px;
  font-size:11px;
  color:#333333;
}
#u44370 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u44371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u44371 {
  position:absolute;
  left:487px;
  top:38px;
  width:24px;
  height:24px;
}
#u44372 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44373 {
  position:absolute;
  left:127px;
  top:254px;
  width:27px;
  height:18px;
}
#u44374 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u44375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:41px;
}
#u44375 {
  position:absolute;
  left:55px;
  top:243px;
  width:42px;
  height:40px;
}
#u44376 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44377 {
  position:absolute;
  left:210px;
  top:254px;
  width:27px;
  height:15px;
}
#u44378 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u44379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44379 {
  position:absolute;
  left:360px;
  top:243px;
  width:53px;
  height:40px;
}
#u44380 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u44381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44381 {
  position:absolute;
  left:297px;
  top:243px;
  width:53px;
  height:40px;
}
#u44382 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u44383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44383 {
  position:absolute;
  left:423px;
  top:243px;
  width:53px;
  height:40px;
}
#u44384 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u44385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44385 {
  position:absolute;
  left:554px;
  top:20px;
  width:526px;
  height:448px;
}
#u44386 {
  position:absolute;
  left:2px;
  top:216px;
  width:522px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44387 {
  position:absolute;
  left:800px;
  top:58px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44388 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u44389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u44389 {
  position:absolute;
  left:859px;
  top:368px;
  width:160px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u44390 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u44391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:58px;
}
#u44391 {
  position:absolute;
  left:598px;
  top:127px;
  width:60px;
  height:57px;
}
#u44392 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44393 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u44394 {
  position:absolute;
  left:688px;
  top:150px;
  width:105px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u44395 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u44396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
}
#u44396 {
  position:absolute;
  left:808px;
  top:173px;
  width:57px;
  height:11px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
}
#u44397 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u44398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#333333;
}
#u44398 {
  position:absolute;
  left:688px;
  top:172px;
  width:110px;
  height:12px;
  font-size:11px;
  color:#333333;
}
#u44399 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u44400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u44400 {
  position:absolute;
  left:1030px;
  top:38px;
  width:24px;
  height:24px;
}
#u44401 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44402 {
  position:absolute;
  left:670px;
  top:254px;
  width:27px;
  height:18px;
}
#u44403 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u44404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:41px;
}
#u44404 {
  position:absolute;
  left:598px;
  top:243px;
  width:42px;
  height:40px;
}
#u44405 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44406 {
  position:absolute;
  left:753px;
  top:254px;
  width:27px;
  height:15px;
}
#u44407 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u44408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44408 {
  position:absolute;
  left:903px;
  top:243px;
  width:53px;
  height:40px;
}
#u44409 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u44410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44410 {
  position:absolute;
  left:840px;
  top:243px;
  width:53px;
  height:40px;
}
#u44411 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u44412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44412 {
  position:absolute;
  left:966px;
  top:243px;
  width:53px;
  height:40px;
}
#u44413 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u44414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:41px;
}
#u44414 {
  position:absolute;
  left:4px;
  top:520px;
  width:1041px;
  height:41px;
  color:#FFFFFF;
}
#u44415 {
  position:absolute;
  left:2px;
  top:12px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u44416 {
  position:absolute;
  left:24px;
  top:528px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u44417 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u44418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u44418 {
  position:absolute;
  left:297px;
  top:528px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u44419 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u44420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u44420 {
  position:absolute;
  left:100px;
  top:528px;
  width:77px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u44421 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u44422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u44422 {
  position:absolute;
  left:730px;
  top:528px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u44423 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u44424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u44424 {
  position:absolute;
  left:114px;
  top:580px;
  width:76px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u44425 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u44426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u44426 {
  position:absolute;
  left:40px;
  top:568px;
  width:41px;
  height:41px;
  font-size:20px;
  color:#FFFFFF;
}
#u44427 {
  position:absolute;
  left:2px;
  top:9px;
  width:37px;
  word-wrap:break-word;
}
#u44428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u44428 {
  position:absolute;
  left:300px;
  top:580px;
  width:240px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u44429 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u44430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  height:94px;
}
#u44430 {
  position:absolute;
  left:4px;
  top:346px;
  width:1086px;
  height:94px;
}
#u44431 {
  position:absolute;
  left:2px;
  top:39px;
  width:1082px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u44432 {
  position:absolute;
  left:0px;
  top:329px;
  width:41px;
  height:41px;
  font-size:20px;
  color:#FFFFFF;
}
#u44433 {
  position:absolute;
  left:2px;
  top:9px;
  width:37px;
  word-wrap:break-word;
}
#u44434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u44434 {
  position:absolute;
  left:390px;
  top:192px;
  width:41px;
  height:41px;
  font-size:20px;
  color:#FFFFFF;
}
#u44435 {
  position:absolute;
  left:2px;
  top:9px;
  width:37px;
  word-wrap:break-word;
}
#u44436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u44436 {
  position:absolute;
  left:114px;
  top:852px;
  width:76px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#008000;
}
#u44437 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u44438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u44438 {
  position:absolute;
  left:40px;
  top:840px;
  width:41px;
  height:41px;
  font-size:20px;
  color:#FFFFFF;
}
#u44439 {
  position:absolute;
  left:2px;
  top:9px;
  width:37px;
  word-wrap:break-word;
}
#u44440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44440 {
  position:absolute;
  left:300px;
  top:852px;
  width:670px;
  height:114px;
}
#u44441 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  word-wrap:break-word;
}
#u44442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44442 {
  position:absolute;
  left:492px;
  top:254px;
  width:45px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44443 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u44444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44444 {
  position:absolute;
  left:1029px;
  top:254px;
  width:45px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44445 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u44446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:51px;
}
#u44446 {
  position:absolute;
  left:840px;
  top:719px;
  width:160px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u44447 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u44448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44448 {
  position:absolute;
  left:650px;
  top:605px;
  width:27px;
  height:18px;
}
#u44449 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u44450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:41px;
}
#u44450 {
  position:absolute;
  left:578px;
  top:594px;
  width:42px;
  height:40px;
}
#u44451 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44452 {
  position:absolute;
  left:734px;
  top:605px;
  width:27px;
  height:15px;
}
#u44453 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u44454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44454 {
  position:absolute;
  left:884px;
  top:594px;
  width:53px;
  height:40px;
}
#u44455 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u44456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44456 {
  position:absolute;
  left:820px;
  top:594px;
  width:53px;
  height:40px;
}
#u44457 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u44458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44458 {
  position:absolute;
  left:946px;
  top:594px;
  width:53px;
  height:40px;
}
#u44459 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u44460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44460 {
  position:absolute;
  left:1016px;
  top:605px;
  width:45px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u44461 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u44462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44462 {
  position:absolute;
  left:820px;
  top:644px;
  width:20px;
  height:20px;
  font-size:12px;
}
#u44463 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u44464 {
  position:absolute;
  left:824px;
  top:646px;
  width:12px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u44465 {
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u44466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u44466 {
  position:absolute;
  left:854px;
  top:646px;
  width:116px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u44467 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u44468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:2px;
}
#u44468 {
  position:absolute;
  left:19px;
  top:825px;
  width:1048px;
  height:1px;
}
#u44469 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:735px;
}
#u44470 {
  position:absolute;
  left:258px;
  top:528px;
  width:1px;
  height:734px;
}
#u44471 {
  position:absolute;
  left:2px;
  top:359px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u44472 {
  position:absolute;
  left:959px;
  top:202px;
  width:41px;
  height:41px;
  font-size:20px;
  color:#FFFFFF;
}
#u44473 {
  position:absolute;
  left:2px;
  top:9px;
  width:37px;
  word-wrap:break-word;
}
#u44474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:2px;
}
#u44474 {
  position:absolute;
  left:19px;
  top:1116px;
  width:1048px;
  height:1px;
}
#u44475 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u44476 {
  position:absolute;
  left:300px;
  top:991px;
  width:670px;
  height:31px;
  color:#FF0000;
}
#u44477 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  word-wrap:break-word;
}
