﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1002px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:223px;
  width:53px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:14px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:60px;
  top:290px;
  width:372px;
  height:15px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:72px;
  top:395px;
  width:170px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#3399FF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:86px;
  top:477px;
  width:297px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-style:normal;
  color:#008000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:60px;
  top:509px;
  width:342px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#008000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:338px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:60px;
  top:345px;
  width:180px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:266px;
  top:359px;
  width:140px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:13px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:516px;
  top:395px;
  width:120px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:13px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:506px;
  top:361px;
  width:210px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#008000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:27px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:236px;
  top:397px;
  width:260px;
  height:0px;
}
#u18_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:274px;
  height:20px;
}
#u19 {
  position:absolute;
  left:80px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:60px;
  top:18px;
  width:86px;
  height:33px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:0px;
  top:55px;
  width:1002px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:985px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1002px;
  height:1px;
}
#u23 {
  position:absolute;
  left:60px;
  top:75px;
  width:65px;
  height:15px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:748px;
  top:175px;
  width:90px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:748px;
  top:143px;
  width:92px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:13px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:748px;
  top:223px;
  width:90px;
  height:15px;
  font-size:13px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:758px;
  top:249px;
  width:199px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:27px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:60px;
  top:134px;
  width:225px;
  height:33px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:33px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
